---
layout: fullscreen
---

<div class="container">
  {% include nav.html %}
</div>

<div class="container" role=main>
      <h1>Test the Web Forward</h1>
      <p class=lead>W3C's one shop stop for Open Web Platform testing.</p>
      <div class="jumbotron">
        <p><img src="assets/dinos.png" alt="Test the Web Forward mascots: dinosaurs." class="img-responsive block-center"></p>
      </div>
      
      <p class=lead>As the Web morphed from a document exchange system to the World's most advanced application delivery platform, the requirements on the underlining technologies and the browsers implementing them changed dramatically. Web applications built today need a robust and interoperable Web that only thorough browser testing can guarantee.
      </p>
      <p class=lead>To meet this new challenge, W3C is launching an unprecedented effort to rethink and scale up its testing offering.</p>
  <br>
  <br>
  <div class="row text-center">
    <div class="col-md-3">
      {% include icons.html icons="group+factory" size="L" type="primary" %}
      <h3>Community-Driven &amp; Industry-Supported</h3>
      <p>
        A vibrant, industry-backed community is key to a successful and sustainable testing effort.
      </p>
    </div>
    <div class="col-md-3">
      {% include icons.html icons="git_pull_request+electrical_plug" size="L" type="primary" %}
      <h3>Open-Source &amp; Standards-Based</h3>
      <p>
        Test suites, tools and documentation are open-source and available freely under liberal licenses so that all can contribute <em>and</em> benefit.
      </p>
    </div>
    <div class="col-md-3">
      {% include icons.html icons="rabbit+stats" size="L" type="primary" %}
      <h3>Lean &amp; Data-Driven</h3>
      <p>
        Streamlined processes, improved tooling and better data to simplify test development, prioritize, and measure progress.
      </p>
    </div>
    <div class="col-md-3">
      {% include icons.html icons="bank+compass" size="L" type="primary" %}
      <h3>Centralized &amp; Discoverable</h3>
      <p>
        A common test repository that is easy to find and navigate. Tools, processes and documentation shared across Working Groups and among browser vendors.
      </p>
    </div>
  </div>
  <br>
  <p class=lead>Want to learn more about our plans?</p>
  
  {% include cta.html body="Read the initial blog post" icon="open_book" url="/blog/2013/02/20/testing-the-open-web-platform.html" %}
  <hr />
  
  <div class="row">
    <div class="col-md-6">
      <h4>From our Blog</h4>
      {% include blog/highlight_latest.html type="post" %}
      <hr />
      <h4>From our Newsletter</h4>
      {% include blog/highlight_latest.html type="newsletter" %}
    </div>
    
    <div class="col-md-6">
      {% include events/upcoming.html %}
      <a href="https://github.com/w3c/web-platform-tests">
        <img src="/assets/Octocat-555x461.png" class="img-responsive">
      </a>
      <h2>Contribute</h2>
      <p>Join the community and contribute to the Open Web Platform test suite on GitHub.</p>
      {% include cta.html icon="git_create" url="https://github.com/w3c/web-platform-tests" body="Join us on GitHub!" %}
    </div>
  </div>

</div>
