<div class="panel-group" data-spy="affix" data-offset-top="50">
  {% include sidebars/toc.html %}
  
  <div class="panel panel-default">
    
    {% include components/panel/heading.html title="Upcoming Events" target_id="sidebar-1" %}
    <nav class="collapse in list-group" id="sidebar-1">
      {% for event in site.events %}
        {% if event.upcoming %}
          <a class="list-group-item" href="/events/{{ event.year }}/{{ event.slug }}.html">{{ event.date }} - {{ event.location }}.</a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
  
  <div class="panel panel-default">
    {% include components/panel/heading.html title="Past events" target_id="sidebar-2" collapsed=true %}
    <nav class="collapse list-group" id="sidebar-2">
      {% for event in site.events %}
        {% unless event.upcoming %}
          <a class="list-group-item" href="/events/{{ event.year }}/{{ event.slug }}.html">{{ event.date }} - {{ event.location }}.</a>
        {% endunless %}
      {% endfor %}
    </nav>
  </div>
</div>