{% include sidebars/toc.html %}

{% assign upcoming = false %}
{% for event in site.events %}
  {% if event.upcoming %}{% assign upcoming = true %}{% endif %}
{% endfor %}

{% if upcoming %}
<div class="panel panel-default">
  {% include components/panel/heading.html title="Upcoming Events" target_id="sidebar-1" %}
  <nav class="collapse in list-group" id="sidebar-1">
    {% for event in site.events %}
      {% if event.upcoming %}
        <a class="list-group-item" href="/events/{{ event.year }}/{{ event.slug }}.html">{{ event.date }} - {{ event.location }}</a>
      {% endif %}
    {% endfor %}
  </nav>
</div>
{% endif %}

<div class="panel panel-default">
  {% if page.notoc and upcoming == false %}
    {% include components/panel/heading.html title="Past Events" target_id="sidebar-2" %}
    <nav class="collapse in list-group" id="sidebar-2">    
  {% else %}
    {% include components/panel/heading.html title="Past Events" target_id="sidebar-2" collapsed=true %}
    <nav class="collapse list-group" id="sidebar-2">
  {% endif %}
    {% for event in site.events %}
      {% unless event.upcoming %}
        <a class="list-group-item" href="/events/{{ event.year }}/{{ event.slug }}.html">{{ event.date }} - {{ event.location }}</a>
      {% endunless %}
    {% endfor %}
  </nav>
</div>
