<hr class="section"/>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Follow Us</h4>
    </div>
    <div class="list-group-item">
        <img src="/assets/twitter.png" />&nbsp;
        <a href="https://twitter.com/testthewebfwd">@testthewebfwd</a> 
        <a href="https://twitter.com/search?q=%23testtwf">#testtwf</a>
    </div>
    <div class="list-group-item">
        <img src="/assets/weibo.png">&nbsp; 
        <a href="http://weibo.com/u/3618259334">@testthewebforward</a>
        <a href="http://s.weibo.com/weibo/%2523testtwf">#testtwf</a>
    </div>
</div>
