{% if include.events == "next" or include.events == nil %}
<h3>Upcoming Events</h3>
<dl class="dl-horizontal">
  <dt>November 9, 2013</dt>
  <dd><a href="/events/2013/shenzhen.html">Shenzhen, China</a> (More info coming soon)</li>
</dl>
{% endif %}

{% if include.events == "past" or include.events == nil %}
<h3>Previous Events</h3>
<dl class="dl-horizontal">
  <dt>August 17-18, 2013</dt>
  <dd><a href="/events/2013/shanghai.html">Shanghai, China</a></dd>
  <dt>June 7-8, 2013</dt>
  <dd><a href="/events/2013/tokyo.html">Tokyo, Japan</a></dd>
  <dt>Apr 12-13, 2013</dt>
  <dd><a href="/events/2013/seattle.html">Seattle, WA, USA</a></dd>
  <dt>Feb 8-9, 2013</dt>
  <dd><a href="/events/2013/sydney.html">Sydney, Australia</a></dd>
  <dt>Oct 26-27, 2012</dt>
  <dd><a href="/events/2012/paris.html">Paris, France</a></dd>
  <dt>Oct 20-21, 2012</dt>
  <dd><a href="/events/2012/beijing.html">Beijing, China</a></dd>
  <dt>June 15-16, 2012</dt>
  <dd><a href="/events/2012/sanfrancisco.html">San Francisco, USA</a></dd>
</dl>
{% endif %}
