{% assign icons = include.icons | split: "+" %}
{% assign side_by_side = false %}
{% assign length = icons | size %}

{% if include.size %}
  {% capture icon_size %} glyphicon-{{ include.size | downcase }}{% endcapture %}
{% endif %}
{% if length == 1 %}
  {% assign icons = include.icons | split: "|" %}
  {% assign side_by_side = true %}
{% endif %}
{% if include.type %}
  {% capture type %}text-{{ include.type }}{% endcapture %}
{% else %}
  {% assign type = "" %}
{% endif %}
<div class="{{ type }}{{ icon_size }}">
  {% for icon in icons %}
    {% unless forloop.first or side_by_side %}
      <small class="glyphicon glyphicon-plus"></small>
    {% endunless %}
    <span class="glyphicon glyphicon-{{ icon }}"></span>{% if icon == 'group' %}&nbsp;{% endif %}
  {% endfor %}
</div>