{% if include.lang == "ja" %}
<p class="text-center well well-lg" lang="ja">
   <a href="{{ include.url }}" class="btn btn-primary btn-lg">オンラインイベントに参加！</a> <a href="https://twitter.com/testthewebfwd">@testthewebfwd</a> をフォロー <a href="http://twitter.com/search?q=testtwf">#testtwf</a>  ← 公式ハッシュタグ
</p>

{% else %}
<p class="text-center well well-lg">
   <a href="{{ include.url }}" class="btn btn-primary btn-lg">Register!</a> Follow <a href="https://twitter.com/testthewebfwd">@testthewebfwd</a> and <a href="http://twitter.com/search?q=testtwf">#testtwf</a> to get the latest info.
</p>
{% endif %}