{% assign n = 3 %}
{% assign col = 12 | divided_by: n %}

{% if include.experts.size == 0 %}
	<h4>Coming Soon!</h4>
{% endif %}

{% for expert_name in include.experts %}
    {% assign mod = forloop.index | modulo: n %}
    {% if mod == 1 %}
      <div class="row">
    {% endif %}

    {% assign found = false %}
    {% for expert in site.people %}{% if found != true and expert.name == expert_name %}
      {% assign found = true %}
      <div class="col-md-{{ col }}">
        {% include person.html person=expert %}
      </div>
    {% endif %}{% endfor %}

    {% unless found == true %}
       <div class="alert alert-danger col-md-{{ col }}">
         <p>Oops, it seems that there is no info for the expert named "{{ expert_name }}". Please verify spelling. Please add missing entries to the _config.yml page.</p>
       </div>
    {% endunless %}

    {% if mod == 0 or forloop.last%}
      </div>
    {% endif %}
{% endfor %}
