{% if include.map_embed and include.map_embed != "" %}
	{% if include.lang == nil %}
	    {% assign languages = ["en"] %}
	{% else %}
	    {% assign languages = include.lang | split: "|" %}
	{% endif %}

	{% if include.map_link and include.map_link != "" %}
		<h6>
		{% for lang in languages %}
		    {% unless forloop.first %} | {% endunless %}    
		    <a href="{{ include.map_link }}" style="text-align:left">
		    {% if lang == 'zho' %}
		      查看大地图
		    {% elsif lang == 'ko' %}
		      큰 화면으로 보기
		    {% elsif lang == 'ja' %}
		      大きな地図で見る
		    {% else %}
		      View Larger Map
		    {% endif %}
		    </a>
		{% endfor %}
		</h6>
	{% endif %}
	<div>
	    <iframe width="95%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ include.map_embed }}"></iframe>
	    <br />
	</div>
{% else %}
	<h4>Coming Soon!</h4>
{% endif %}
