{% assign bilingual = 'false' %}
{% case page.lang %}
{% when 'zho' %}
  {% assign title = '>关于' %}
{% when 'zho-en' %}
   {% assign title = '关于 | About' %}
   {% assign bilingual = 'true' %}
{% else %}
  {% assign title = 'About' %}
{% endcase %}

<h2 id="about">{{ title }}</h2>

{% if page.lang == "zho" or page.lang == "zho-en" %}
    <p lang="zho">
        NEEDS_TRANSLATION - Should match the paragraph below<br /><br/>
        Test the Web Forward活动的意图是让关注Web标准的开发者直接参与到Web平台的贡献中去。W3C、Adobe、Intel、Mozilla Google 
        Opera 等的技术专家，现场帮助开发者解决活动中遇到的难题。在这次Hack活动中，你会了解最新的HTML5和CSS3功能规范，并学习如何编写对应的测试用例，这些测试用例会帮助更多浏览器更一致地实现这些功能。现场会有众多专家会帮助你完成
        HTML5和CSS3相关规范的测试用例编写工作，并指导你如何提交错误报告。你会通过编程实战学习到全新的技术知识，这些会对你未来的项目设计开发和自身的技术水平提升有很大的帮助。</p>
    </p>
{% endif %}
{% if page.lang == nil or page.lang == "en" or bilingual == "true" %}
    <p>
        Test the Web Forward brings you closer to the very specifications that you use to craft web experiences. 
        At this event, experts from the W3C, Adobe, Intel, Mozilla, Google, and Opera as well as independent developers will 
        be on hand to guide you step-by-step through reading &amp; understanding specs and through creating &amp; 
        contributing  new tests for them. You'll also learn the status of latest HTML5 and CSS3 specifications and
        why there is an urgent need for tests to make browser implementations of these features consistent. 
        By participating in this event, you are joining a movement that is shaping the future of the web.
    </p>
{% endif %}

