{% if include.lang %}
    {% assign languages = include.lang | split: "|" %}
{% else %}
    {% assign languages = "en" %}
{% endif %}

{% for lang in languages %}    
    {% if lang == 'ko' %}
      {% assign word = '장소' %}
    {% elsif lang == 'zho' %}
      {% assign word = '活动地点' %}
    {% elsif lang == 'ja' %}
      {% assign word = '地点' %}
    {% else %}
      {% assign word = 'Location' %}
    {% endif %}
    
    {% if forloop.first == true %}
        {% assign title = word %}
    {% else %}
        {% capture title %}{{title}} | {{word}}{% endcapture %}
    {% endif %}
{% endfor %}

<h2 id="location">{{title}}</h2>

<div class="row">
{% if page.localized_location %}
    <div class="col-md-6" lang="{{lang}}">
    <b> 
    {% if page.localized_location.link %}
        <a href="{{page.localized_location.link}}">{{page.localized_location.venue}}</a>
    {% else %}
        {{page.localized_location.venue}}
    {% endif %}
    </b>
    <br/>
    {% for line in {{page.localized_location.address}} %}
        {{ line }}<br/>
    {% endfor %}
    </div>    
{% endif %}
{% if page.location %}
    <div class="col-md-6" lang="{{lang}}">
    <b> 
    {% if page.location.link %}
        <a href="{{page.location.link}}">{{page.location.venue}}</a>
    {% else %}
        {{page.location.venue}}
    {% endif %}
    </b>
    <br/>
    {% for line in {{page.location.address}} %}
        {{ line }}<br/>
    {% endfor %}
    </div>
{% endif %}
</div>
{% include events/_map.html lang=include.lang map_link=include.map_link map_embed=include.map_embed %}