{% if include.lang %}
    {% assign languages = include.lang | split: "|" %}
{% else %}
    {% assign languages = "en" %}
{% endif %}

{% for lang in languages %} 
    {% if lang == "ja" %}
      {% assign word="オンラインイベントに参加！" %}
    {% elsif lang == "ko" %}
      {% assign word=" 참가신청" %}
    {% elsif lang == "zho" %}
      {% assign word=" 注册!" %}
    {% else %}
      {% assign word="Register!" %}
    {% endif %}
    
    {% if forloop.first == true %}
        {% assign text = word %}
    {% else %}
        {% capture text %}{{text}} | {{word}}{% endcapture %}
    {% endif %}
{% endfor %}

<p>
   <a href="{{ include.url }}" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-user_add"></span> {{ text }} »</a>
</p>
