{% if include.lang %}
    {% assign languages = include.lang | split: "|" %}
{% else %}
    {% assign languages = "en" %}
{% endif %}

{% for lang in languages %}    
    {% if lang == 'zho' %}
      {% assign word = '参会要求' %}
    {% elsif lang == 'ko' %}
      {% assign word = '필요 요건' %}
    {% elsif lang == 'ja' %}
      {% assign word = '必要条件' %}
    {% else %}
      {% assign word = 'Requirements' %}
    {% endif %}
    
    {% if forloop.first == true %}
        {% assign title = word %}
    {% else %}
        {% capture title %}{{title}} | {{word}}{% endcapture %}
    {% endif %}
{% endfor %}

<h2 id="requirements">{{ title }}</h2>

{% for lang in languages %}
    {% unless forloop.first %}
        <hr class="section"/>
    {% endunless %}
    
    {% if lang == "zho" %}
       <div lang="zho">
       <p>
           可熟练使用HTML, JavaScript和CSS编程。本次活动请自带笔记本。</p>
       </p>
       <h3>在活动正式开始前</h3>
       <p>请完成如下的准备工作</p>
       <ul>
           <li><a href="/docs/github-101.html">GitHub的设置</a></li>
           <li>选择一款你喜欢的文本编辑器或IDE。</li>
           <li>安装各主流浏览器(如Firefox、Chrome、Opera等)</li>
           <li>下载 <a href="https://github.com/w3c/testharness.js">testharness.js</a></li>
       </ul>
       <p>如果你有问题，我们有专家会帮助你</p>

       <p>在参与活动前你需要阅读和熟悉以下至少一个功能，这样会让你有些基础。以下是我们将着重学习和测试的web功能:</p> 
       {% for categories in page.focus_specs %}
           <h3>{{ categories[0] }}:</h3>
           <ul>
           {% for category in categories[1] %}
               <li><a href="{{ category[1] }}">{{ category[0] }}</a></li>
           {% endfor %}
           </ul> 
       {% endfor %} 
       <p>强烈建议您可以提前选择好您感兴趣的W3C规范</p>
       </div>
    {% elsif lang == "ko" %}
       <div lang="ko">
       <p> 
        참석하시는 분은 HTML, 자바 스크립트, CSS 프로그래밍을 할 수 있어야 합니다. 이 행사 참석시에는 자신의 노트북을 가져와주세요. </p> 
       </p> 
       <h3>시작하기 전에</h3>
       <p>효과적인 행사 진행을 위해 다음과 같은 준비를 해주세요</p>
       <ul> 
           <li><a href="/docs/github-101.html">GitHub 가입 및 설정</a></li>
           <li>좋아하는 텍스트 편집기 나 IDE를 선택하여 설치해주세요.</li>
           <li>모든 주요 브라우저 설치 (파이어폭스, 크롬, 오페라 등) </li>
           <!-- FIXME (sangwhan): This is incorrect! Needs to point to cloning and submodule init instructions!!! -->
           <li><a href="https://github.com/w3c/testharness.js">testharness.js</a> 다운로드</li>
           <!-- TODO (sangwhan): Mention Python environment dependency here -->
           <!-- TODO (sangwhan): For non-WS dependent tests maybe it might be enough to run something simple like civetweb -->
        </ul> 
    <p>행사를 진행하면서 여러분이 질문이 있는 경우에는 언제든 전문가들이 도움을 드릴 것입니다. 두려워하거나 걱정하지 마세요 ^^ </p>

    <p>활동에 참여하기 전에 당신은 다음과 같은 규격들을 읽어 보시기 바랍니다. 본 행사에서는 주요 웹 표준 규격의 학습과 테스트에 촛점을 맞출 것입니다.</ P>
       {% for categories in page.focus_specs %}
           <h3>{{ categories[0] }}:</h3>
           <ul>
           {% for category in categories[1] %}
               <li><a href="{{ category[1] }}">{{ category[0] }}</a></li>
           {% endfor %}
           </ul> 
       {% endfor %} 
       <p>위의 규격 이외에도, 여러분이 관심을 갖고 있던 다른 표준 규격을 선택할 수도 있습니다.</p>
       </div>
   {% else %}
        <div>
        <p>
           You must be able to hand code HTML, JavaScript and CSS to participate. Please bring your own laptop. 
        </p>
        <h3>Before you begin</h3> 
        <p>Please complete the following in preparation for the event:</p>
        <ul>
            <li><a href="/docs/github-101.html">GitHub Setup</a></li>
            <li>Choose your favorite text editor or IDE</li>
            <li>Install all major browsers (such as Chrome, Firefox, Internet Explorer, or Opera)</li>
            <li>Be sure you have <a href="/docs/github-101.html#clone-the-submodules">testharness.js</a></li>
        </ul>
        <p>If you have problems with setup, experts can help you at the event.</p> 

        <p>Prior to attending, you will want to read and become familiar with at least one of the specs so that you 
        have the foundation required to participate.</p> 
        {% if page.focus_specs %}
			<p>Here are the specs we will focus on learning and testing:</p>
			{% for categories in page.focus_specs %}
	            <h3>{{ categories[0] }}:</h3>
	             <ul>
	            {% for category in categories[1] %}
	                <li><a href="{{ category[1] }}">{{ category[0] }}</a></li>
	             {% endfor %}
	             </ul> 
	        {% endfor %}
			<p>You may also choose any other W3C spec that interests you.</p>
		{% endif %}
        </div>
   {% endif %}
{% endfor %}
