{% case page.lang %}
{% when 'zho' %}
  {% assign title = '>参会要求' %}
{% when 'zho-en' %}
   {% assign title = '参会要求 | Requirements' %}
{% else %}
  {% assign title = 'Requirements' %}
{% endcase %}

<h2 id="requirements-{{ page.lang }}">{{ title }}</h2>
{% if page.lang %}
<div class="requirements">
    {% if page.lang == "zho" or page.lang == "zho-en"%}
        <p lang="zho">
            可熟练使用HTML, JavaScript和CSS编程。本次活动请自带笔记本。</p>
        </p>
        NEEDS_TRANSLATION
        <h3 lang="zho">Before you begin</h3>
        <p lang="zho">Please complete the following in preparation for the event:</p>
        <ul lang="zho">
            <li><a href="/docs/github-101.html">GitHub的设置</a></li>
            <li>选择一款你喜欢的文本编辑器或IDE。</li>
            <li>安装各主流浏览器(如Firefox、Chrome、Opera等)</li>
            <li>下载 <a href="https://github.com/w3c/testharness.js">testharness.js</a></li>
        </ul>
        <p lang="zho">如果你有问题，我们有专家会帮助你</p>
        
        <p lang="zho">在参与活动前你需要阅读和熟悉以下至少一个功能，这样会让你有些基础。以下是我们将着重学习和测试的web功能:</p> 
        {% for categories in page.focus_specs %}
            <h3 lang="zho">{{ categories[0] }}:</h3>
            <ul lang="zho">
            {% for category in categories[1] %}
                <li><a href="{{ category[1] }}">{{ category[0] }}</a></li>
            {% endfor %}
            </ul> 
        {% endfor %} 
        NEEDS_TRANSLATION
        <p lang="zho">You may also choose any other W3C spec that interests you.</p>
    {% else %}
        <p>Need localized requirements for {{ page.lang }}</p>
    {% endif %}
</div>
{% endif %}
{% if page.lang == nil or page.lang == "zho-en" %}
<p id="basic">
   You must be able to hand code HTML, JavaScript and CSS to participate. Please bring your own laptop. 
</p>
<h3 id="setup">Before you begin</h3> 
<p>Please complete the following in preparation for the event:</p>
<ul id="setup-list">
    <li><a href="/docs/github-101.html">GitHub Setup</a></li>
    <li>Choose your favorite text editor or IDE</li>
    <li>Install all major browsers (such as Firefox, Chrome, Opera)</li>
    <li>Download <a href="https://github.com/w3c/testharness.js">testharness.js</a></li>
</ul>
<p>If you have problems with setup, experts can help you at the event.</p> 

<p>Prior to attending, you will want to read and become familiar with at least one of the specs so that you 
have the foundation required to participate. Here are the specs we will focus on learning and testing:</p> 
{% for categories in page.focus_specs %}
    <h3>{{ categories[0] }}:</h3>
     <ul>
     {% for category in categories[1] %}
        <li><a href="{{ category[1] }}">{{ category[0] }}</a></li>
     {% endfor %}
     </ul> 
{% endfor %}
<p>You may also choose any other W3C spec that interests you.</p>
{% endif %}