{% if page.localized_schedule %}
<h2 id="schedule-{{ page.lang }}">
  {% case page.lang %}
  {% when 'ja' %}
    スケジュール
  {% when 'zho' %}
      日程
  {% when 'zho-en' %}
      日程 | Schedule
  {% else %}
    Schedule
  {% endcase %}
</h2>
<div class="row">
  {% for sessions in page.localized_schedule %}
    <div class="col-lg-6">
      <h3 lang="{{ page.lang }}">{{ sessions[0] }}</h3>
      <table lang="{{ page.lang }}" class="table table-hover table-condensed">
      {% for session in sessions[1] %}
        <tr><td>{{ session[0] | replace: " ", "&nbsp;"}}</td><td>{{ session[1] | markdownify }}</td></tr>
      {% endfor %}
      </table>
    </div>
  {% endfor %}
</div>
{% endif %}

{% if page.schedule %}
<h2 id="schedule">Schedule</h2>

<div class="row">
  {% for sessions in page.schedule %}
    <div class="col-lg-6">
      <h3>{{ sessions[0] }}</h3>
      <table class="table table-hover table-condensed">
      {% for session in sessions[1] %}
        <tr><td>{{ session[0] | replace: " ", "&nbsp;"}}</td><td>{{ session[1] | markdownify }}</td></tr>
      {% endfor %}
      </table>
    </div>
  {% endfor %}
</div>
{% endif %}


