{% if include.lang %}
    {% assign languages = include.lang | split: "|" %}
{% else %}
    {% assign languages = "en" %}
{% endif %}

{% for lang in languages %}    
    {% if lang == 'zho' %}
      {% assign word = '日程' %}
    {% elsif lang == 'ko' %}
      {% assign word = '일정' %}
    {% elsif lang == 'ja' %}
      {% assign word = 'スケジュール' %}
    {% else %}
      {% assign word = 'Schedule' %}
    {% endif %}
    
    {% if forloop.first == true %}
        {% assign title = word %}
    {% else %}
        {% capture title %}{{title}} | {{word}}{% endcapture %}
    {% endif %}
{% endfor %}

<h2 id="schedule">{{ title }}</h2>

{% if include.schedule %}    
    <div class="row">
        {% for schedule in include.schedule %}
            {% assign lang = {{schedule[0] | replace: "default", "en"}} %}
            {% for sessions in schedule[1] %}
              <div class="col-lg-6">
                  <h3 lang="{{lang}}">{{sessions[0]}}</h3>
                  <table lang="{{lang}}" class="table table-hover table-condensed">
                      {% for session in sessions[1] %}
                         <tr><td>{{ session[0] | replace: " ", "&nbsp;"}}</td><td>{{ session[1] | markdownify }}</td></tr>
                      {% endfor %}
                 </table>
             </div>
            {% endfor %}
        {% endfor %}
    </div>
{% else %}
    <h4>Coming Soon!</h4>
{% endif %}