{% if page.sponsors %}

{% if include.lang %}
    {% assign languages = include.lang | split: "|" %}
{% else %}
    {% assign languages = "en" %}
{% endif %}

{% for lang in languages %}    
    {% if lang == 'zho' %}
      {% assign word = '赛事赞助商' %}
    {% elsif lang == 'ko' %}
      {% assign word = '후원 및 협조' %}
    {% elsif lang == 'ja' %}
      {% assign word = 'スポンサー' %}
    {% else %}
      {% assign word = 'Sponsors' %}
    {% endif %}
    
    {% if forloop.first == true %}
        {% assign title = word %}
    {% else %}
        {% capture title %}{{title}} | {{word}}{% endcapture %}
    {% endif %}
{% endfor %}

<h2 id="sponsors">{{title}}</h2>
<div class=sponsors>
  {% if page.sponsors.size == 0 %}
	<h4>Coming Soon!</h4>
  {% endif %}
  {% for sponsor_name in page.sponsors %}
    {% assign found = false %}
    {% for sponsor in site.sponsors %}{% if sponsor.name == sponsor_name %}
      {% assign found = true %}
      <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}" />
    {% endif %}{% endfor %}
    {% unless found == true %}
      <p class=warning>Oops, it seems that there is no logo for the sponsors named "{{ sponsor_name }}". Please verify spelling. Please add missing entries to the _config.yml page.</p>
    {% endunless %}
  {% endfor %}
</div>
{% endif %}
