{% assign upcoming = false %}
{% for event in site.events %}
  {% if event.upcoming %}{% assign upcoming = true %}{% endif %}
{% endfor %}

{% if upcoming %}
  <div class="jumbotron text-center">
    {% include icons.html icons="calendar" type="primary" size="L" %}
    <h2>Upcoming Events</h2>
    {% for event in site.events %}
      {% if event.upcoming %}
        <p><a href="/events/{{ event.year }}/{{ event.slug }}.html">{{ event.date }} - {{ event.location }}.</a></p>
      {% endif %}
    {% endfor %}
  </div>
<hr class="section">
{% endif %}