---
layout: events
city: Shanghai, China
date: August 17-18, 2013
registration_link: http://www.eventbrite.com/event/7391878307
localized_city:
localized_date:
lang: zho
sponsors: [Baidu, W3C, Adobe]
speakers: [Paul Cotton, 郑子斌(Alex Zheng), 许洪波]
experts: [郭鹏程, 胡雷, 张坚, 贺师俊, 张云龙, 陆华, 施丹侠, 缪传杰, 赵锦江, 李杰 to 李杰（一丝, 张荣, 李海翔, 程劭非(Winter), 张志强, 范玉刚, 闵栋, 刘东明]
---

  <h2 id="about">Test The Web Forward介绍</h2>
  <p>Test the Web Forward活动的意图是让关注Web标准的开发者直接参与到Web平台的贡献中去。百度联合来自W3C、Adobe、Intel、Mozilla、阿里、金山、UC、华为、傲游、百姓网等的技术专家，现场帮助开发者解决活动中遇到的难题。在这次Hack活动中，你会了解最新的HTML5和CSS3功能规范，并学习如何编写对应的测试用例，这些测试用例会帮助更多浏览器更一致地实现这些功能。现场会有众多专家会帮助你完成HTML5和CSS3相关规范的测试用例编写工作，并指导你如何提交错误报告。你会通过编程实战学习到全新的技术知识，这些会对你未来的项目设计开发和自身的技术水平提升有很大的帮助。</p>

  <p>我们将为HTML5和CSS3多个规范编写测试，这将有助于测试浏览器对这些标准的实现，并在它们表现不一致时提交错误报告。我们还将听到专家们对这些标准的意见以及浏览器如何实施这些标准的信息。</p>

   </p>
 
  <div class="block-schedule">
    <h2 id="schedule">日程安排</h2>    
    <h3>8月17日</h3>    
    <ul>
      <li><b>1:30pm - 2:20pm</b> <i>报到</i></li>
      <li><b>2:00pm - 2:15pm</b> <i>欢迎&amp;介绍 (百度VP, 郑子斌)</i></li>
      <li><b>2:15pm - 3:00pm</b> <i>HTML5技术最新进展 (W3C HTML联合主席, Paul Cotton)</i></li>
      <li><b>3:00pm - 3:15pm</b> <i>演讲Web App 国内发展机遇 (创新谷合伙人, 许洪波)</i></li>
      <li><b>3:15pm - 3:30pm</b> <i>茶歇</i></li>
      <li><b>3:30pm - 3:50pm</b> <i>快速讲解与演示：HTML5 File API</i></li>
      <li><b>3:50pm - 4:10pm</b> <i>快速讲解与演示：HTML5 Drag and Drop API</i></li>
      <li><b>4:10pm - 4:30pm</b> <i>快速讲解与演示：HTML5 Web Storage</i></li>
      <li><b>4:30pm - 4:45pm</b> <i>快速讲解：CSS Transforms, Grid Layout, Backgrounds and Borders</i></li>
      <li><b>4:45pm - 5:15pm</b> <i>标准测试用例编写及提交流程演示</i></li>
      <li><b>5:15pm - 5:45pm</b> <i>答疑与分组</i></li>
      <li><b>5:45pm - 6:00pm</b> 奖项介绍</i></li>
      <li><b>6:00pm </b> <i>晚餐</i></li>
    </ul>

    <h3>8月18日 </h3>
    <ul>
      <li><b>9:30am - 10:00am</b> <i>报到</i></li>
      <li><b>10:00am - 10:20am</b> <i>热身：如何写一个好的测试用例 、如何报Bug</i></li> 
      <li><b>10:20am - 12:00pm</b> <i>Hack</i></li>
      <li><b>12:00pm - 1:00pm</b> <i>午餐</i></li>
      <li><b>1:00pm - 3:00pm</b> <i>Hack</i></li>
      <li><b>3:00pm - 3:30pm</b> <i>休息茶歇</i></li>
      <li><b>3:30pm - 5:30pm</b> <i>hack</i></li>
      <li><b>5:30pm - 6:00pm</b> <i>演示/奖品</i></li>
    </ul>    
  </div>

  {% include events/speakers.html lang=page.lang speakers=page.speakers %}
  {% include events/experts.html lang=page.lang experts=page.experts %}

  <h2 id="location">活动地点</h2>
  <p>上海博雅酒店<br>
    上海市浦东张江碧波路699号(近晨晖路) <br>
    Parkyard Hotel Shangha
    <h6> <a href="http://bit.ly/191QqDg" style="color:#0000FF;text-align:left">查看大地图</a></h6>
  </p>
  <div>
    <iframe width="95%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=zh-CN&amp;geocode=&amp;q=%E4%B8%AD%E5%9B%BD%E4%B8%8A%E6%B5%B7%E6%B5%A6%E4%B8%9C%E7%A2%A7%E6%B3%A2%E8%B7%AF%E5%8D%9A%E9%9B%85%E9%85%92%E5%BA%97&amp;sll=37.0625,-95.677068&amp;sspn=56.200193,131.132813&amp;ie=UTF8&amp;hq=%E5%8D%9A%E9%9B%85%E9%85%92%E5%BA%97&amp;hnear=%E4%B8%AD%E5%9B%BD%E4%B8%8A%E6%B5%B7%E6%B5%A6%E4%B8%9C%E6%96%B0%E5%8C%BA%E7%A2%A7%E6%B3%A2%E8%B7%AF&amp;t=m&amp;ll=31.197183,121.585393&amp;spn=0.00825,0.012006&sll=37.0625,-95.677068&amp;z=14&amp;output=embed&amp;iwloc=near"></iframe>

    <br />
    </div>



  <h2 id="requirements">参会要求</h2>
  <p><b>可熟练使用HTML, JavaScript和CSS编程。本次活动请自带笔记本。</b></p>
  <h3>编程环境搭建</h3>
  <ul>
    <li><a href="http://www.w3.org/Help/Account/Request/Public">W3C 公共帐户申请表</a></li>
    <li>选择一款你喜欢的文本编辑器或IDE。</li>
    <li>安装各主流浏览器(如Firefox、Chrome、Opera等)</li>
    <li>从https://github.com/w3c/testharness.js 下载测试相关的库文件。</li>
    <li>准备一个FTP客户端（如FileZilla）并熟悉其使用。</li>
  </ul>
  <p>如果你有问题，我们有专家会帮助你</p>
 
  <p>在参与活动前你需要阅读和熟悉以下至少一个功能，这样会让你有些基础。以下是我们将着重学习和测试的web功能:</p>
  <ul> 
    <li>
      <a href="http://www.w3.org/TR/FileAPI/">HTML5 File API</a> 
    </li>
  <li>
      <a href="http://www.w3.org/TR/html5/editing.html#dnd">HTML5 Drag and Drop</a>
    </li>
    <li>
      <a href="http://www.w3.org/TR/webstorage/">HTML5 WebStorage</a>
    </li>
    <li>
      <a href="http://www.w3.org/TR/css3-transforms/">CSS3 Transforms</a>
    </li>
    <li>
      <a href="http://www.w3.org/TR/css3-grid-layout/">CSS3 Grid Layout</a>
    </li>   
    <li>
      <a href="http://dev.w3.org/csswg/css3-background/">CSS3 Backgrounds and Borders</a>
    </li>
  </ul>
  {% include events/sponsors.html lang=page.lang %}
