---
layout: events
lang: zho|en
date: November 9, 2013
localized_date: 2013年11月9日
city: Shenzhen, China
registration_link: https://testtwf-shenzhen-2013.eventbrite.com

localized_location: 
   venue: "深圳市五洲宾馆"
   link: "http://www.wuzhouguesthouse.com/index.aspx"
   address: ["华夏厅", "深南大道6001号", "深圳中国 518034"]
   
location: 
   venue: "Shenzhen Wuzhou Guest House"
   link: http://www.wuzhouguesthouse.com/en/index.aspx
   address: ["Huaxia Hall", "No. 6001 Shennan Road", "Shenzhen, China 518034"]

sponsors: [W3C, Adobe, Google, Intel]

speakers: [Tim Berners-Lee, An Qi Li, Zhiqiang Zhang, Belem Zhang]

experts: [Tobie Langel, Philippe Le Hégaret, Robin Berjon, Daniel Davis, Zi Bin Cheah,
          Xiaoqian (Cindy) Wu, "Michael[tm] Smith", Dirk Schulze, Sylvain Galineau, Alan Stearns,
          Rik Cabanier, James Graham, L. David Baron, fantasai, Simon Pieters, Peter Linss, 
          Leif Arne Storset, Sangwhan Moon, Masataka Yakura, Wilhelm Joys Andersen, Simon Stewart, 
          Rebecca Hauck, Simon Sapin, David Burns, Donald Zhao, Wei Jiang, Aili Wang, Mark Sadecki, 
          Michael Cooper,Kun Zhang, Wei Wu, Andrew Kirkpatrick, Mary Jo Mueller, Judy Brewer,
          Denis Ah-Kang, Bert Bos]
schedule:
    zho:
        会议:
            "9:00am": "欢迎: : Rebecca Hauck & Fiona Duan"
            "9:15am - 9:30am": "主题演讲: 李安琪" 
            "9:30am - 9:45am": "如何阅读W3C规范: 张敏"
            "9:45am - 10:00am": "使用testharness.js: 张敏"
            "10:00am - 10:15am": "如何编写W3C Reftests: 张志强"
            "10:15am - 10:30am": "如何审核W3C测试用例: 张志强"
            "10:30am - 11:00am": "快速讲解"
            "11:00am - 11:30am": "答疑及分组"
            "12:00pm": "午饭"
            "12:00pm - 4:00pm": "编程环节"
            "4:00pm": "小吃"
            "4:00pm - 7:00pm": "编程环节"
            "7:00pm - 7:15pm": "结束致辞, Tim Berners-Lee"
            "7:30pm - 10:00pm": "晚餐及聚会"
    default:
        Sessions:
            "9:00am":   "Welcome: Rebecca Hauck & Fiona Duan"
            "9:15am - 9:30am":  "Keynote: An Qi Li" 
            "9:30am - 9:45am":  "How to Read W3C Specifications: Belem Zhang"
            "9:45am - 10:00am": "Using testharness.js: Belem Zhang"
            "10:00am - 10:15am": "How to Write W3C Reftests: Zhiqiang Zhang"
            "10:15am - 10:30am": "How to Review W3C Tests: Zhiqiang Zhang"
            "10:30am - 11:00am": "Lightning Talks"
            "11:00am - 11:30am": "Q&amp;A and Form Groups"
            "12:00pm": "Lunch"
            "12:00pm - 4:00pm":  "Hacking"
            "4:00pm": "Snacks"
            "4:00pm - 7:00pm":   "Hacking"
            "7:00pm - 7:15pm": "Closing Talk, Tim Berners-Lee"
            "7:30pm - 10:00pm": "Dinner, drinks &amp; Celebration Party"
        
focus_specs:
    HTML5:
        "HTML5 Forms" : "http://www.w3.org/TR/html5/forms.html"
    CSS: 
        "CSS Basic User Interface": "http://www.w3.org/TR/css3-ui/"
        "CSS Shapes": "http://www.w3.org/TR/css-shapes/"
        "CSS Masking": "http://www.w3.org/TR/css-masking/"
    FXTF:
        "Compositing & Blending": "http://dev.w3.org/fxtf/compositing-1/"
    Browser and Testing Tools:
        "WebDriver": "http://www.w3.org/TR/webdriver/"
    Accessibility:
        "Accessibility Testing": "/docs/test-a11y.html"
---
<h2 id="about">关于 | About</h2>
<p lang="zho">
    Test the Web Forward将引领你更近距离接触你平时所用来创作Web体验的技术规范。在此次活动中，来自于W3C，Adobe，Intel，Mozilla，
    Google和Opera的专家们及众多独立开发者将手把手的引导你逐步学习阅读并理解相关规范，并且为这些规范创建和贡献全新的测试用例。你还可以了解到最新的HTML5和CSS3规范的最新状态并且获悉为何测试让浏览器一致实现这些新功能的迫切性。通过参加此次活动，你会正式投入一场塑造未来Web技术的运动中！。</p>
</p>
<hr class="section"/>
<p>
    Test the Web Forward brings you closer to the very specifications that you use to craft web experiences. 
    At this event, experts from the W3C, Adobe, Intel, Mozilla, Google, and Opera as well as independent developers will 
    be on hand to guide you step-by-step through reading &amp; understanding specs and through creating &amp; 
    contributing  new tests for them. You'll also learn the status of latest HTML5 and CSS3 specifications and
    why there is an urgent need for tests to make browser implementations of these features consistent. 
    By participating in this event, you are joining a movement that is shaping the future of the web.
</p>

{% include events/schedule.html lang=page.lang schedule=page.schedule %}
{% include events/speakers.html lang=page.lang speakers=page.speakers %}

<p lang="zho">
<small> 亲，完全不用担心语言的问题！全程中文演讲，贴心的志愿者会随时负责翻译您和国外专家的对话</small>
</p>
<p>
<small>All talks will be in Chinese and we will have translators to help communication with English-speaking experts.
</p>

 
{% include events/experts.html  lang=page.lang experts=page.experts %}
{% include events/location.html lang=page.lang map_link="http://bit.ly/18tjqSx" map_embed="http://bit.ly/1fLmug3" %}
{% include events/requirements.html lang=page.lang %}
{% include events/sponsors.html lang=page.lang %}

    
