---
layout: events
lang: zho-en
date: November 9, 2013
localized_date: 2013年11月9日
city: Shenzhen, China
localized_city: 深圳中国
zip_code: 518001

localized_address:
    line1: "深圳五洲宾馆"
    line2: "华夏厅"
    line3: "鑫苑路15号"
    line4: "鲁胡区"
    
address: 
    line1: "Shenzhen Wuzhou Guest House"
    line2: "Huaxia Hall"
    line3: "Xin Yuan Road 15"
    line4: "Lu Hu District"

sponsors: [W3C, Tencent, Adobe, Google, Intel]
speakers:
experts: [fantasai, Tobie Langel, Dirk Schulze, Sylvain Galineau, Alan Stearns, Rik Cabanier, James Graham, 
          L. David Baron, Robin Berjon, Philippe Le Hégaret, Daniel Davis, Simon Pieters, Peter Linss, 
          Leif Arne Storset, Masataka Yakura, 范玉刚, 张志强, Rebecca Hauck]
    
localized_schedule:
    会议:
        "9:00am":   "早餐"
        "9:15am - 9:30am":  "欢迎&amp;介绍" 
        "9:30am - 9:45am":  "How to Read W3C Specifications (TBD)"
        "9:45am - 10:00am": "Using testharness.js (TBD)"
        "10:00am - 10:15am": "How to Write a W3C Reftest (TBD)"
        "10:15am - 10:30am": "How to Review W3C Tests (TBD)"
        "10:30am - 11:00am": "快速讲解与演示"
        "11:00am - 11:30am":  "答疑与分组"
        "12:00pm": "午餐"
        "12:00pm - 4:00pm":  "Hacking"
        "4:00pm": " 休息，提供茶点"
        "4:00pm - 7:00pm":   "Hacking"
        "7:00pm - 7:15pm": "Closing Talk, Tim Berners Lee"
        "7:30pm - 10:00pm": " 晚餐，饮料及派对"
    Sessions:
        "9:00am":   "Breakfast"
        "9:15am - 9:30am":  "Welcome &amp; Introduction" 
        "9:30am - 9:45am":  "How to Read W3C Specifications (TBD)"
        "9:45am - 10:00am": "Using testharness.js (TBD)"
        "10:00am - 10:15am": "How to Write W3C Reftests (TBD)"
        "10:15am - 10:30am": "How to Review W3C Tests (TBD)"
        "10:30am - 11:00am": "Lightning Talks"
        "11:00am - 11:30am":   "Q&amp;A and Form Groups"
        "12:00pm": "Lunch"
        "12:00pm - 4:00pm":  "Hacking"
        "4:00pm": "Snacks"
        "4:00pm - 7:00pm":   "Hacking"
        "7:00pm - 7:15pm": "Closing Talk, Tim Berners Lee"
        "7:30pm - 10:00pm": "Dinner, drinks &amp; Celebration Party"
        
focus_specs:
    HTML5:
        "HTML5 Forms" : "http://www.w3.org/TR/html5/forms.html"
    CSS: 
        "CSS Basic User Interface": "http://www.w3.org/TR/css3-ui/"
    Other:
        "WebDriver": "http://www.w3.org/TR/webdriver/"
---

{% include events/about.html %}
{% include events/register.html url="https://testtwf-shenzhen-2013.eventbrite.com" %} 
{% include events/schedule.html %}  
{% include events/speakers.html %}
{% include events/experts.html %}
{% include events/location.html map_link="http://bit.ly/15TsQ5J" map_embed="http://bit.ly/19e6uy6"%}
{% include events/requirements.html %}

    
    