---
layout: events
city: Sydney, Australia
date: February 8<sup>th</sup> &ndash; 9<sup>th</sup>, 2013
registration_link: http://testtwfsydney.eventbrite.com/
sponsors: [Google, Adobe, W3C]
speakers: [Alex Danilo, Silvia Pfeiffer, Cameron McCormack, John Allsopp]
experts: [Chris Lilley, Dirk Schulze, Darryl Cain, Erik Dahlström, Brian Birtles, Rik Cabanier, Brett Morgan, Dmitry Baranovskiy, Cyril Concolato, Tim Ansell, Jared Wyles]
schedule:
    default:
          Friday's Session:
            "6:00pm - 6:30pm": Check-in
            "6:30pm - 6:50pm": Welcome & Introduction, Alex Danilo, Google
            "6:50pm - 7:10pm": How to Read a Spec, Silvia Pfeiffer, W3C & Google
            "7:10pm - 7:30pm": How to Create a W3C Reftest, Cameron McCormack, Mozilla
            "7:30pm - 7:50pm": CSS 2D and 3D transforms, John Allsopp, Westciv
            "7:50pm - 8:00pm": Meet the Experts
            "8:00pm": Pizza!
            "8:00pm - 9:30pm": Mingle / Plan for Saturday Hacking
          Saturday's Session:
            "9:30am - 10:00am": Breakfast
            "10:00am - 10:40am": Recap of The Plan, Suggested Features to test, Alex Danilo, Google
            "10:00am-12:00pm": Hack
            "12:00pm": Lunch is served
            "12:00pm - 3:00pm": Hack
            "3:00pm": Snacks
            "3:00pm - 5:30pm": Hack
            "5:30pm - 6:00pm": Demos
            "6:00pm": Dinner/Drinks
---

<p>
  Test the Web Forward brings you closer to the very specifications that you use to craft web experiences and has you discover how you can shape the future of the web.
</p>
<p>
  Over the course of the event, not only will you learn to understand how to read specifications and understand the state of support among different browsers, but you will also create robust tests along with the editors of various standards to ensure browsers implement these features consistently. At the end of it, you will gain a deeper understanding of browser internals &amp; how you can write clear, robust tests.
</p>
<p>
  We will have a number of SVG experts at this event, so we encourage development of SVG tests at this hackathon.
</p>
<p>
  We do expect you to be capable of hand-coding in SVG, CSS, &amp; JavaScript, but there will be experts from Adobe, Google, Mozilla, Opera, the W3C, as well as independent developers to guide you step-by-step to create tests that can help move the web forward. Food, drinks, music &amp; a one-off special edition t-shirt will be provided to all participants.   
</p>

{% include events/schedule.html schedule=page.schedule %}

<p><i>Note: We will be recording the event. If you would like to be excluded from appearing in the video, please contact <a href="mailto:testthewebforward@gmail.com">testthewebforward@gmail.com</a>.</i></p>

{% include events/speakers.html speakers=page.speakers %}
{% include events/experts.html experts=page.experts %}

<p>The experts selection is being finalized. Keep an eye out here for changes, or just come along and meet them!</p>

<h2 id="location">Location</h2>

<h3>Google Sydney</h3>
48 Pirrama Road<br>
Pyrmont 2009, Australia

<p>
  <a href="https://maps.google.com.au/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Google+Sydney&amp;aq=&amp;sll=-33.796924,150.922433&amp;sspn=1.602241,2.914124&amp;ie=UTF8&amp;hq=Google+Sydney&amp;hnear=&amp;radius=15000&amp;t=m&amp;ll=-33.866781,151.195135&amp;spn=0.006236,0.00912&amp;z=16" style="color:#0000FF;text-align:left">View Larger Map</a>
</p>

<iframe width="350" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.au/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Google+Sydney&amp;aq=&amp;sll=-33.796924,150.922433&amp;sspn=1.602241,2.914124&amp;ie=UTF8&amp;hq=Google+Sydney&amp;hnear=&amp;radius=15000&amp;t=m&amp;ll=-33.866781,151.195135&amp;spn=0.006236,0.00912&amp;z=16&amp;output=embed"></iframe>

<p>Google Sydney is across the road from 'The Star' casino and is easily accessible by public transportation from any train station or bus stop</p>
<p>Nearest train station is Town Hall (15 minute walk)</p>
<p>Take any bus to Wynyard stationm then it's about a 20 minute walk</p>
<p>Bus 443 from Queen Vctoria Building near Town Hall train station takes about 20 minutes to get to the building and takes you through a nice tour of the area</p>

<h2 id="requirements">Requirements</h2>
<p><b>You must be able to hand code SVG, JavaScript and CSS to participate.</b></p>

<h3>Before you begin</h3>
<p>We will cover how to submit your created tests during the presentation sessions.</p>
<p>
    Prior to attending, you will want to read and become familiar with at least one of the features so that you have the foundation required to participate.  Here are the features we will focus on learning and testing:
</p>
<h3>SVG:</h3>
<ul>
  <li><a href="http://www.w3.org/TR/SVG/" class="external-link">Main SVG Spec</a></li>
  <li>Or the HTML5 spec of your choice!</li>
</ul>

<h3>CSS:</h3>
<ul>
  <li><a href="https://dvcs.w3.org/hg/FXTF/raw-file/tip/filters/index.html">CSS3 Filters</a></li>
  <li><a href="http://www.w3.org/TR/css3-transforms/">CSS3 Transforms (which now includes SVG Transforms)</a></li>
  <li>Or the CSS spec of your choice!</li>
</ul>

<p>We are happy to help if there are other features or areas you want to write or modify tests for.</p>

{% include events/sponsors.html %}