---
layout: events
city: Tokyo, Japan
date: June 7-8, 2013
lang: ja|en
localized_date: 2013年6月7日（金）-6月8日（土）
registration_link: http://bit.ly/198kACQ
title: Webを良くするためには、良いテストが必要なのです！<br>Better tests for a better web!
sponsors: [W3C, Adobe, Google, KDDI, Microsoft]
speakers: [Shigeo Okamoto, "Michael[tm] Smith", Daniel Davis, Rebecca Hauck, Kazuaki Takemura, Oli Studholme]
experts: [fantasai, Eiji Kitamura, L. David Baron, Rik Cabanier, Tomomi Imura, Dirk Schulze, Tab Atkins Jr., Tobie Langel, Jet Villegas, Alan Stearns, Glenn Adams, Koji Ishii, Peter Linss, John Daggett, Ally Ogilvie, Shinyu Murakami, Leif Arne Storset, Masataka Yakura, Masahito Kawamori, Kensaku Komatsu, Philippe Le Hégaret, Dominique Hazaël-Massieux, Simon Sapin, Hajime Shiozawa]
schedule:
    ja:
        金曜日セッション:
            "6:30pm - 7:00pm":  "開場"
            "7:00pm - 7:10pm":  "ご挨拶, プレゼンター：Shigeo Okamoto"
            "7:10pm - 7:25pm":  "How To Read W3C Specifications（W3C仕様書の読み方）<br>プレゼンター：Kazuaki Takemura"
            "7:25pm - 7:40pm":  "Specification and Test Lifecycles（仕様書とテストのライフサイクル）<br>プレゼンター：Oli Studholme"
            "7:40pm - 8:15pm":  "エキスパート達によるライトニングトーク（各3分間）（必要に応じて逐次通訳）"
            "8:15pm - 8:30pm":  "ライトニングトークの内容をもとに、土曜日のハッカソンの参加グループを決めていただきます"
            "8:30pm - 10:00pm": "夕食とドリンク(無料)"
        土曜日セッション（ハッカソン）:
            "9:00am - 9:30am":   "朝食"
            "9:30am - 9:45pm":   "Testharness.js Essentials（Testharness.jsの基礎）<br>プレゼンター：Michael[tm] Smith, Daniel Davis"
            "9:45am - 10:00pm":  "Anatomy of a Ref Test（リファレンステストはどのように構成されるのか）<br>プレゼンター：Rebecca Hauck"
            "10:00am - 12:00pm": "Hack"
            "12:00pm":           "ランチ（その場で提供されます）"
            "12:00pm - 3:00pm":  "Hack"
            "3:00pm":            "おやつタイム"
            "3:00pm - 5:30pm":   "Hack"
            "5:30pm - 6:00pm":   "Demos"
            "6:00pm":            "懇親会 (無料・任意参加)"
    default:
        Friday's Sessions:
            "6:30pm - 7:00pm":  Check-in
            "7:00pm - 7:10pm":  Welcome &amp; Introduction, Shigeo Okamoto
            "7:10pm - 7:25pm":  How To Read W3C Specifications, Kazuaki Takemura
            "7:25pm - 7:40pm":  Specification and Test Lifecycles, Oli Studholme
            "7:40pm - 8:15pm":  3 Minute Lightning Talks By Experts
            "8:15pm - 8:30pm":  Pick a group, based on Lightning Talks
            "8:30pm - 10:00pm": Free Dinner/Drinks
        Saturday's Sessions:
            "9:00am - 9:30am":   Breakfast
            "9:30am - 9:45pm":   Testharness.js Essentials, Michael[tm] Smith, Daniel Davis
            "9:45am - 10:00pm":  Anatomy of a Ref Test, Rebecca Hauck
            "10:00am - 12:00pm": Hack
            "12:00pm":           Lunch is served
            "12:00pm - 3:00pm":  Hack
            "3:00pm":            Snacks
            "3:00pm - 5:30pm":   Hack
            "5:30pm - 6:00pm":   Demos
            "6:00pm":            Free After Party

localized_location:
    venue: グーグル日本
    address: [六本木ヒルズ森タワー, 六本木6-10-1、東京都港区, " 日本、東京にて 106-6126"]
location:
    venue: Google Japan
    address: [Roppongi Hills Mori Tower, 6-10-1 Roppongi Minato-ku, "Tokyo, Japan 106-6126"]
---

    <h2 id="about" lang="ja">Test The Web Forwardについて</h2>
    <p lang="ja">
      国内のWeb開発者コミュニティメンバーや海外から来日するWeb標準のエキスパート達と一緒に学び、コードを書き、フードやドリンクを片手に楽しく交流する週末に参加しませんか？
      Webをより良い、相互運用性の高いものにするための具体的な貢献ができるチャンスです！
    </p>
    <p lang="ja">
      Test The Web Forwardは、Web開発者コミュニティがより深くWeb標準のプロセスに関わることによってWebをより良いものにしていこうというムーブメントです。参加者はWebのエクスペリエンスを構築するうえで欠かせないWeb標準仕様の、実際の仕様書と間近に接することで、Webの未来をかたちづくるために何ができるのかを発見することとなるでしょう。このムーブメントでは
    具体的な活動内容として、Web標準仕様に関する学び、仕様テストケースの作成と実行、そしてコミュニティの活性化を推し進めています。その一環となるTest The Web Forwardイベントはいままでサンフランシスコ、パリ、北京、シドニー、シアトルと世界各国を回ってきましたが、今回ようやく待望の東京で開催できることになりました！
    </p>
    <p lang="ja">
      このイベントの参加者は、W3C仕様書の読み方や各ブラウザーにおける対応状況について学び、理解するだけでなく、すべてのブラウザーにそれらの仕様が一貫して実装されることを促進する、堅牢なテストをW3C仕様エディター達とともにこの場で作成することになります。結果として、ブラウザー内部の仕組みと、明確で堅牢なテストを作成するためのより深い知識を得ることができます。
    </p>
    <p lang="ja">
      参加者にはHTML、CSSおよびJavaScriptでコードが書けるスキルレベルが求められますが、W3CのほかAdobe、Google、KDDI、Microsoft、Mozilla、Nokia、NTT docomo、楽天をはじめとする組織・企業から参加するエキスパート達がステップバイステップでテストの作成方法をガイドします。（訳注：英語スピーカーの場合は会場にいる通訳ボランティアの手助けが入ります）
    </p>
    <hr class="section"/>
    <p>
      Come meet members of the Japanese Web community and experts from all over the world for a weekend of learning, coding, food, drinks and fun. Help make a more interoperable &amp; better Web!
    </p>

    <p>
      Test The Web Forward is a movement to make the Web better by getting the Web community involved in Web standards.  We bring you closer to the very specifications that you use to craft web experiences and help you discover how you can shape the future of the Web. This is done through education, test contributions and by growing the community.  This movement has already rallied the Web communities of San Francisco, Paris, Beijing, Sydney and Seattle, now we are honored to bring it to Tokyo!
    </p>
    <p>
      Over the course of the event, not only will you learn to understand different browsers, but you will also create robust tests along with the editors of various standards to ensure browsers implement these features consistently. At the end of it, you will gain a deeper understanding of browser internals &amp; how you can write clear, robust tests.
    </p>
    <p>
      We expect you to be able to code in HTML, CSS or JavaScript, but there will be experts from the W3C, Adobe, Google, KDDI, Microsoft, Mozilla, Nokia, NTT DoCoMo, Rakuten, and others that will guide you step-by-step to create tests.

    </p>
    
    {% include events/schedule.html lang=page.lang schedule=page.schedule %}
    
<p>イベントの様子はビデオで撮影する予定です。ビデオで撮影されたくないという場合は、<a href="mailto:testthewebforward@gmail.com">testthewebforward@gmail.com</a> までご相談下さい(日本語可)。</p>
<p>
    <b>Note:</b> We will be recording the event. If you would like to be excluded from appearing in the video, please contact
    <a href="mailto:testthewebforward@gmail.com">testthewebforward@gmail.com</a>.
</p>

{% include events/speakers.html lang=page.lang speakers=page.speakers %}

<p>すべての英語セッションは逐次通訳付きで行います</p>
<p><b>Note:</b> All talks will be given in Japanese with English presentation materials.</p>

{% include events/experts.html lang=page.lang experts=page.experts %}
{% include events/location.html lang=page.lang map_link="http://bit.ly/14NTlMA" map_embed="http://bit.ly/176Ib6x" %}
  
  <div lang="ja">
    <p>グーグル株式会社オフィスは東京メトロ六本木駅のすぐ近くです。</p>
    <p>
      東京メトロ日比谷線または大江戸線の六本木駅から、以下の<a href="https://goo.gl/maps/aiAPq">経路（Google Maps）</a>でオフィスのある六本木ヒルズ森タワーに到着します。
    </p>
  </div>
  
  <div>
    <p>Google Japan is easily accessible by the Tokyo Metro.</p>
    
    <p>
      Take the Tokyo Metro Hibiya line or the Toei Oedo line to Roppongi station. From the station, follow
      <a href="https://goo.gl/maps/I5SkN">the route on Google maps</a> to the Google office in Mori Tower.
    </p>
  </div>

<h2 id="requirements-ja" lang="ja">参加者に求められるスキルレベル</h2>

<p lang="ja"><b>参加資格：HTML、CSS、JavaScriptでコードが書ける方</b></p>

<h3>事前に必要な準備</h3>

<p>当日までに、あらかじめ以下の作業を行なっておいてください。</p>
<ul>
  <li><a href="http://www.w3.org/Help/Account/Request/Public">W3C一般アカウント登録フォーム（英語）</a></li>
  <li><a href="http://www.w3.org/2002/09/wbs/1/testgrants2-200409">W3Cライセンス許諾質問票（英語）</a></li>
  <li><a href="/jp/resources/github_test_submission.html">Githubの設定について</a></li>
  <li><a href="http://adobe.github.io/web-platform/presentations/testtwf-how-to-write-a-reftest-jp/#/">リファレンステストの書き方</a></li>
</ul>

<p>
  今回のイベントで学び、テストを作成する仕様のいまのところの候補を下記にリストしました。イベントに参加する前に、あらかじめこのリストにある仕様書のうち少なくとも1つを読み、どのようなものなのかをざっくり把握しておいてください。：
</p>

<h3>HTML5:</h3>
<ul>
  <li><a href="http://www.w3.org/TR/html5/">HTML5仕様</a></li>
</ul>

<h3>CSS:</h3>
<ul>
  <li><a href="http://www.w3.org/TR/css3-flexbox/">CSS Flexbox</a></li>
  <li><a href="http://www.w3.org/TR/css3-text/">CSS Text</a></li>
  <li><a href="http://dev.w3.org/csswg/css-writing-modes/">CSS Writing Modes</a></li>
  <li><a href="http://www.w3.org/TR/css3-fonts/">CSS Fonts</a></li>
</ul>

<h3>SVG</h3>
<ul>
  <li><a href="http://www.w3.org/TR/SVG/filters.html">SVG Filter Effects</a></li>
</ul>

<h2 id="requirements">Requirements</h2>

<p><b>You must be able to hand code HTML, JavaScript and CSS to participate.</b></p>

<h3>Before you begin</h3>

<p>Please complete the following in preparation for the event:</p>

<ul>
  <li><a href="http://www.w3.org/Help/Account/Request/Public">W3C Public Account Request Form</a></li>
  <li><a href="http://www.w3.org/2002/09/wbs/1/testgrants2-200409">W3C Grant of License Questionnaire</a></li>
  <li><a href="/resources/github_test_submission.html">Setup Github</a></li>
  <li><a href="http://adobe.github.io/web-platform/presentations/testtwf-how-to-write-a-reftest/#/">How to Write a Ref Test</a></li>
</ul>

<p>
Prior to attending, you will also want to read and become familiar with at least one of the features so that you have the foundation required to participate.  Here are the features we will focus on learning and testing:
</p>

<h3>HTML5:</h3>

<ul>
 <li><a href="http://www.w3.org/TR/html5/">Main HTML5 Spec</a></li>
</ul>

<h3>CSS:</h3>
<ul>
  <li><a href="http://www.w3.org/TR/css3-flexbox/">CSS Flexbox</a></li>
  <li><a href="http://www.w3.org/TR/css3-text/">CSS Text</a></li>
  <li><a href="http://dev.w3.org/csswg/css-writing-modes/">CSS Writing Modes</a></li>
  <li><a href="http://www.w3.org/TR/css3-fonts/">CSS Fonts</a></li>
</ul>

<h3>SVG</h3>
<ul>
  <li><a href="http://www.w3.org/TR/SVG/filters.html">SVG Filter Effects</a></li>
</ul>

<p>
If there are other features or areas you want to write or modify tests for, we are happy to help.
</p>

{% include events/sponsors.html lang=page.lang %}
