{% assign post = include.post %}

{% if post.author %}
  {% if post.author.name %}
    {% assign author_name = post.author.name %}
  {% else %}
    {% assign author_name = post.author %}
  {% endif %}
{% endif %}

{% capture date %}<span class="date">{{ post.date | date: "%B %d, %Y" }}</span>{% endcapture %}

<div class="metadata">
  <p>
    {% if post.type == "post" %}
      <i>by</i> <a class="author" href="{{ post.url }}#about-the-author">{{ author_name }}</a>
    {% elsif post.type == "newsletter" %}
      <i>Sent to</i> <a href="{{ post.x-post }}">public-testtwf@w3.org</a>
    {% else %}
      <i>by</i> <span class="author">{{ author_name }}</span>
    {% endif %}
    {% if post.type == "newsletter" %}
      · {{ date }}
    {% elsif post.x-post %}
      {% capture url %}{{ post.x-post }}{% endcapture %}
      {% capture url %}{{ url | replace_first: "http://www.", "" }}{% endcapture %}
      {% capture url %}{{ url | replace_first: "https://www.", "" }}{% endcapture %}
      {% capture url %}{{ url | replace_first: "http://", "" }}{% endcapture %}
      {% capture url %}{{ url | replace_first: "https://", "" }}{% endcapture %}
      {% capture url %}{{ url | truncate: 30 }}{% endcapture %}
      · {{ date }} · <i>originally posted on</i> <a href="{{ post.x-post }}" title="{{ post.x-post }}">{{ url }}</a>
    {% else %}
      · {{ date }}
    {% endif %}
  </p>
</div>
