<div class="text-center">
  <ul class="pagination">
    {% if paginator.previous_page == 1 %}
      <li><a href="/blog/">Prev</a></li>
    {% elsif paginator.previous_page %}
      <li><a href="{{ paginator.previous_page_path }}">Prev</a></li>
    {% else %}
      <li class=disabled><span>Prev</span></li>
    {% endif %}

    {% if paginator.page == 1 %}
      <li class=active><span>1</span></li>
    {% else %}
      <li><a href="/blog/">1</a></li>
    {% endif %}

    {% for count in (2..paginator.total_pages) %}
      {% if count == paginator.page %}
        <li class=active><a href="/blog/page-{{ count }}/">{{ count }}</a></li>
      {% else %}
        <li><a href="/blog/page-{{ count }}/">{{ count }}</a></li>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path }}">Next</a></li>
    {% else %}
      <li class=disabled><span>Next</span></li>
    {% endif %}
  </ul>
</div>
