---
layout: events 
city: Seattle, WA
date: January 26<sup>th</sup>, 2014
registration_link: http://ttwf-seattle.eventbrite.com
sponsors: [Internet Explorer, Adobe, W3C]
speakers: [Alan Stearns, Kris Krueger, Brian Terlson]
experts: [Alan Stearns, Dirk Schulze, Sylvain Galineau, Eliot Graff, Erika Doyle Navara, Josh Holmes, Kris Krueger, Leif Arne Storset, David Storey, Glenn Adams, Doug Schepers, Brian Terlson]
schedule:
    default:
        Agenda:
            "8:30am - 9:00am": "Registration and Welcome Breakfast"
            "9:00am - 9:30am": "Intro and Keynote"
            "9:30am - 10:00am": "How to Create a W3C Reftest"
            "10:00am - 10:30am": "Overview of Testharness.js"
            "10:30am - 12:00pm": "Test Sprint"
            "12:00pm - 1:00pm": "Lunch"
            "1:00pm - 6:30pm": "Test Sprint"
            "6:30pm - 7:00pm": "Wrap up, Surface Pro, Creative Cloud, and prize give-away"
            "7:00pm - 8:00pm": "Drinks &amp; hors d’oeuvres to celebrate the new tests (hopefully a world record!)"

location: 
   venue: "Microsoft Corp. - Seattle Office"
   link: "http://goo.gl/maps/FYD0m"
   address: ["320 Westlake Ave", "Seattle, Wa, 98109"]
---

<h2>About</h2>

<p>The Internet Explorer Developer Relations and the Adobe Web Platform teams are hosting a Test The Web Forward event in Seattle, Sunday January 26, 2014.</p>

<p>The focus of this event is on learning, hacking, and writing tests for W3C specifications.  During the event, experts will teach you about W3C specs & W3C testing and will guide you as you help make the Web a better, more interoperable place. Better tests for a better Web!</p>

<p>Test the Web Forward brings you closer to the very specifications that you use to craft web experiences and has you discover how you can shape the future of the web.</p>

<p>We do expect you to be capable of hand-coding in HTML, CSS, & JavaScript, but there will be experts from various organizations including Microsoft, Adobe, Google, Mozilla, Opera, the W3C, as well as independent developers to guide you step-by-step to create tests that can help move the web forward. Food, drinks, t-shirts and other swag will be provided for all participants to enjoy. If the joy of collaborating is not enough, we will be raffling off a Windows Surface Pro among the active participants of the test sprint.</p>

<p>Over the course of the Test the Web Forward event, not only will you learn to understand how to read specifications and understand the state of support among different browsers, you will learn how to write tests that will help browsers make implementations of these features consistent. Experts will be on hand to help you write tests for CSS and other features as well as guide you through filing bug reports. You will learn new web features and good practices that would be useful in projects you contribute to in the future!</p>

<p>We are looking forward to a more interoperable web with your support!</p>

{% include events/schedule.html schedule=page.schedule %}
{% include events/speakers.html speakers=page.speakers %}
{% include events/experts.html experts=page.experts %}
<!-- Add links for embedded map and to larger map to pass into the location.html template -->
{% include events/location.html map_link="http://goo.gl/maps/FYD0m" map_embed="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=320+Westlake+Ave+Seattle,+WA&amp;aq=&amp;sll=47.621067,-122.329073&amp;sspn=0.065952,0.159817&amp;ie=UTF8&amp;hq=&amp;hnear=320+Westlake+Ave+N,+Seattle,+King,+Washington+98109&amp;ll=47.622697,-122.338278&amp;spn=0.008244,0.019977&amp;t=m&amp;z=14&amp;output=embed" %}
{% include events/requirements.html %}
{% include events/sponsors.html %}