---
layout: events
city: Seoul, South Korea
date: April 11-12, 2014
lang: ko|en
localized_date: 2014년 4월 11일(금)-4월 12일(토)
registration_link: http://testtwf-seoul.eventbrite.com
title: 웹 표준 테스트 활동에 함께 하세요! | Better tests for a better web!
sponsors: [W3C, ETRI, Daum]
speakers: ["Seungyun Lee", "Daniel Davis", "Hyeonseok Shin", "Sangwhan Moon"]
experts: ["Channy Yun", "Hooney Jo", "Hyeonseok Shin", "Daniel Davis", "Jonathan Jeon", "Sangwhan Moon", "Soonbo Han", "Yongwoo Jeon", "Changwook Doh", "Sungmin Jang", "Hyunjin Cho", "Jungyun Kim", "Jaesung Choi", "Yunpyo Hong", "Dongwon Lee", "Constantine Kim"]
schedule:
    ko:
        4월11일 (금요일):
            "16:30 - 16:45": "접수"
            "16:45 - 17:00": "오리엔테이션 오프닝 - 이승윤 (W3C 한국 사무국장)"
            "17:00 - 17:15": "W3C 표준 스펙 읽는 방법 - Daniel Davis (W3C)"
            "17:15 - 17:40": "testharness.js와 W3C Reftests - 신현석 (다음 커뮤니케이션)"
            "17:40 - 17:50": "Web Platform Tests 참여 - 문상환 (오페라 소프트웨어)" #Web Platform Tests 테스트 제출 방법 - 문상환 (오페라 소프트웨어)
            "17:50 - 18:30": "라이트닝 토크/ 전문가와의 만남"
            "18:30 - 20:00": "표준 그룹별 팀 구성"
            "20:00 - 23:30": "(그룹별로 간단한 임의 소개 및 기획 모임 진행)"
        4월12일 (토요일):
            "10:00 - 10:30": "테스트 제출 및 리뷰 세부 과정 - 문상환 (오페라 소프트웨어)"
            "10:30 - 12:30": "테스트 케이스 제작하기 I"
            "12:30 - 13:30": "점심식사"
            "13:30 - 15:00": "테스트 케이스 제작하기 II"
            "15:00 - 15:30": "간식"
            "14:30 - 17:30": "테스트 케이스 제작하기 III"
            "17:30 - 18:00": "데모 발표 및 상품 추첨"
            "18:00 - 19:00": "저녁 식사 및 친목회"
    default:
        Friday's Sessions:
            "16:30 - 16:45": "Check-in"
            "16:45 - 17:00": "Welcome &amp; Introduction, Seungyun Lee"
            "17:00 - 17:15": "How To Read W3C Specifications, Daniel Davis (W3C)"
            "17:15 - 17:40": "testharness.js and W3C Reftests, Hyeonseok Shin (Daum Communications)"
            "17:40 - 17:50": "Your First Web Platform Test, Sangwhan Moon (Opera Software)"
            "17:50 - 18:30": "Lightning Talks / Meet the Experts"
            "18:30 - 20:00": "Mingle / Plan for Saturday Hacking"
            "20:00 - 23:30": "(Ad-hoc group planning meetings and mingling)"
        Saturday's Sessions:
            "10:00 - 10:30": "In-depth Contribution and Review Walkthrough, Sangwhan Moon (Opera Software)"
            "10:30 - 12:30": "Hack I"
            "12:30 - 13:30": "Lunch"
            "13:30 - 15:00": "Hack II"
            "15:00 - 15:30": "Snacks"
            "14:30 - 17:30": "Hack III"
            "17:30 - 18:00": "Demo, Wrap up and Prize give-away"
            "18:00 - 19:00": "Free After Party"

focus_specs:
    HTML5:
        "HTML5" : "http://www.w3.org/TR/html5/"
        "HTML5 Browsing Contexts and Windows" : "http://www.whatwg.org/specs/web-apps/current-work/multipage/browsers.html#browsers"
        "Notifications API": "http://www.w3.org/TR/notifications/"
    CSS:
        "CSS Basic User Interface": "http://www.w3.org/TR/css3-ui/"
        "CSS Shapes": "http://www.w3.org/TR/css-shapes/"
        "CSS Masking": "http://www.w3.org/TR/css-masking/"
    Browser and Testing Tools:
        "WebDriver": "http://www.w3.org/TR/webdriver/"
    Accessibility:
        "Accessibility": "/docs/test-a11y.html?l=ko-kr"
    SemanticWeb:
        "SPARQL Query Language for RDF" : "http://www.w3.org/TR/rdf-sparql-query/"

localized_location:
    venue: 강남 리츠 칼튼 호텔(서울)
    link: "http://www.ritzcarltonseoul.com/"
    address: ["서울시 강남구 봉은사로 120"]

location:
    venue: Ritz Carlton Hotel (Seoul Gangnam)
    link: "http://www.ritzcarlton.com/en/Properties/Seoul/Default.htm"
    address: [120 Bongeunsa-ro, Gangnam-gu, Seoul]
---

    <h2 id="about">행사 소개 | About</h2>
    <!-- TODO (cynthia, tagawa): Mention the bridge between TTWF Tokyo on the same day? What should we do? -->
    <p lang="ko">
     국내 웹 개발자 커뮤니티 멤버 및 해외에서 방문하는 웹 표준 전문가들과 함께 웹 표준에 대한 이해를 높히고, 직접 테스트해 보는 즐거운 교류 행사로서 더 나은 웹 상호 운용성을 위해 웹 표준에 직접 구체적인 공헌을 할 수 있을 기회입니다!
    </p>
    <p lang="ko">
     Test The Web Forward은 웹 개발자 커뮤니티가 웹 표준 프로세스에 참여하여 웹을 보다 좋게 만들고자 하는 취지의 행사입니다. 본 행사를 통해 참가자는 표준 웹 활용 환경을 구축하는 데 빠뜨릴 수 없는 웹 표준의 실제 규격을 가까이 접하는 것으로, 웹의 미래를 위하여 무엇을 공헌할 수 있는지를 발견할 수 있을 것입니다. 웹 개발자 및 커뮤니티에서 웹 표준 제정 프로세스에 보다 깊이 관여함으로서 개방 웹을 위한 활동에 참여할 수 있고, 실제 웹 표준 사양에 직접 참여할 수 있습니다. 행사 기간 동안 국내외 웹 표준 전문가들과 웹 표준 스펙에 대해 연구하고 테스트 케이스 제작에 참여할 수 있습니다. 본 행사는 지금까지 샌 프란시스코, 파리, 북경, 시드니, 시애틀 등 세계 각국에서 개최되어 왔고 드디어 한국에서 처음으로 개최하게 되었습니다.
    </p>
    <p lang="ko">
     행사 참가자는 HTML, CSS, 및 JavaScript로 코드 경험자를 대상으로 하며, W3C, ETRI, 다음 커뮤니케이션, 네이버, LG전자, Mozilla, Opera에서 참여하는 표준 전문가 및 기술 도우미들과 함께 단계적으로 테스트 작성 방법을 배울 수 있습니다. 본 행사 후 웹 브라우저 내부 구조와, 견고한 JS 테스트를 작성하기 위한 지식 및 향후 W3C 표준 활동에 참여할 수 기반 지식을 배울 수 있습니다.
    </p>
    <hr class="section"/>
    <p>
      Come meet members of the Korean Web community and experts from all over the world for a weekend of learning, coding, food, drinks and fun. Help make a more interoperable &amp; better Web!
    </p>

    <p>
      Test The Web Forward is a movement to make the Web better by getting the Web community involved in Web standards.  We bring you closer to the very specifications that you use to craft web experiences and help you discover how you can shape the future of the Web. This is done through education, test contributions and by growing the community.  This movement has already rallied the Web communities of San Francisco, Paris, Beijing, Sydney and Seattle, now we are honored to bring it to Seoul!
    </p>
    <p>
      Over the course of the event, not only will you learn to understand different browsers, but you will also create robust tests along with the editors of various standards to ensure browsers implement these features consistently. At the end of it, you will gain a deeper understanding of browser internals &amp; how you can write clear, robust tests.
    </p>
    <p>
      We expect you to be able to code in HTML, CSS or JavaScript, but there will be experts from the W3C, ETRI, Daum, Naver, LG Electronics, Mozilla, Opera and others that will guide you step-by-step to create tests.
    </p>

    {% include events/schedule.html lang=page.lang schedule=page.schedule %}

<p lang="ko">행사 중에 영상 촬영이 진행될 예정입니다. 촬영 대상에서 제외되고 싶으시면 testthewebforward@gmail.com에 연락주시기 바랍니다 (한국어 가능).</p>
<p>
    <b>Note:</b> We will be recording the event. If you would like to be excluded from appearing in the video, please contact
    <a href="mailto:testthewebforward@gmail.com">testthewebforward@gmail.com</a>.
</p>

{% include events/speakers.html lang=page.lang speakers=page.speakers %}

<p lang="ko">모든 영어 세션은 순차 통역이 함께 제공됩니다.</p>

<p><b>Note:</b> Most talks will be given in Korean with English presentation materials.</p>

{% include events/experts.html lang=page.lang experts=page.experts %}
{% include events/location.html lang=page.lang map_link="http://bit.ly/1kNOx0h" map_embed="http://bit.ly/1gEkC5p" %}

  <div lang="ko">
    <p>행사장인 리츠칼튼 호텔은 지하철 9호선 신논현역에서 가깝습니다.</p>
    <p>
      서울 지하철 9호선 신논현역에서 <a href="http://dmaps.kr/i7u2">다음 지도</a>를 따라 찾아오실 수 있습니다. 아울러 서울 지하철
      7호선 논현역, 서울 지하철 2호선 강남역에서도 도보 15-20분 정도 거리에 있습니다. (이 경우 약도가 제공되지 않으니 직접 경로를 검색해서
      오셔야 합니다.)
    </p>
  </div>

  <div>
    <p>Ritz Carlton Seoul Hotel is easily accessible from Shinnonhyeon station, Seoul Metro No.9.</p>

    <p>
      Take the Seoul Metro Line No. 9 to Sinnonhyeon station (신논현역, 新論峴驛). From the station, follow
      <a href="http://goo.gl/maps/4vpuK">the route on Google maps</a> to the Ritz Carlton Hotel Seoul.
      Additionally, it is a 15 to 20 minutes walk from Seoul Metro Line No. 2 Gangnam station or
      Seoul Metro Line Line No. 7 Nonhyeon station. (While we do not provide maps for this, you can
      easily searchable a route with Google maps.)
    </p>
  </div>

{% include events/requirements.html lang=page.lang %}
{% include events/sponsors.html lang=page.lang %}
