### After the {{include.type}}
After your successful {{include.type | downcase}}, its customary to publish a quick blog post summarizing the event.  If you maintain your own blog or write for a group blog, 
consider cross-posting here on [our blog][testtwf-blog] following these [guidelines][contributing]. 

In order to improve and grow Test the Web Forward, please share your suggestions of how to make it better. 
We also welcome contributions to any part of [testthewebforward.org][home].

[public-testtwf]:  http://lists.w3.org/Archives/Public/public-testtwf
[testtwf-blog]: http://www.testthewebforward.org/blog
[contributing]: https://github.com/w3c/testtwf-website/blob/gh-pages/CONTRIBUTING.md
[home]: http://testthewebforward.org/
