### After the {{include.type}}
After your successful {{include.type | downcase}}, it's customary to publish a quick blog post summarizing the {{include.type | downcase}}.  
Your summary can includes like the number of tests written, the speakers, the atmosphere, highlights & challenges, and of course, photos!

You're free to publish the summary on your own personal or group blog, but please consider cross-posting here on [our blog][testtwf-blog] following 
these [guidelines][contributing].

<!-- TODO: Need to include something here about engaging with attendees afterward (could be different for meetups vs. hackathons -->

In order to improve and grow Test the Web Forward, please share your suggestions of how to make it better. 
We also welcome contributions to any part of [testthewebforward.org][home].

[public-testtwf]:  http://lists.w3.org/Archives/Public/public-testtwf
[testtwf-blog]: http://www.testthewebforward.org/blog
[contributing]: https://github.com/w3c/testtwf-website/blob/gh-pages/CONTRIBUTING.md
[home]: http://testthewebforward.org/
