### After the {{include.type}}
After your successful {{include.type | downcase}}, it's customary to publish a quick blog post summarizing the {{include.type | downcase}}.  Your summary can include things like the number of tests written, the speakers, the atmosphere, highlights & challenges, and of course, photos and videos!

You're free to publish the summary on your own personal or group blog, but please consider cross-posting here on [our blog][testtwf-blog] following 
these [guidelines][contributing].

The overarching goal of Test the Web Forward is to get the Web development community involved with Web standards on an ongoing basis. If there were tests written
at your {{include.type}}, please follow up on any outstanding [pull requests][prs] from your event to make sure that they are getting reviewed. Follow up with attendees who submitted PRs and encourage them to continue to participate by submitting more PRs and asking them to respond to feedback on the PRs that they have posted to GitHub.

In order to improve and grow Test the Web Forward, please share your suggestions of how to make it better. 
We also welcome contributions to any part of [testthewebforward.org][home].

[public-testtwf]:  http://lists.w3.org/Archives/Public/public-testtwf
[testtwf-blog]: http://testthewebforward.org/blog
[contributing]: https://github.com/w3c/testtwf-website/blob/gh-pages/CONTRIBUTING.md
[home]: http://testthewebforward.org/
[prs]: https://github.com/w3c/web-platform-tests/pulls
