### Announce the {{include.type}}

1. Send an announcement to the [public-testtwf][public-testtwf] list.
2. Create an event page on [testthewebforward.org][testtwf-events] following the instructions [here][contributing].
3. Announce it on Twitter and /cc [@testthewebfwd][twitter] and it will get retweeted from there.
4. Announce it in other channels that reach your local developer community.
{% if include.type == "Event" %}5. Announce it in other channels within the W3C (working groups, interest groups).{% endif %}

[public-testtwf]:  http://lists.w3.org/Archives/Public/public-testtwf
[testtwf-events]: http://testthewebforward.org/events
[contributing]: https://github.com/w3c/testtwf-website/blob/gh-pages/CONTRIBUTING.md
[twitter]: https://twitter.com/testthewebfwd
