### Announce the {{include.type}}

1. [Create an event page][new-event-page].
2. Send an announcement to the [public-testtwf][public-testtwf] list.
3. Announce it on Twitter and /cc [@testthewebfwd][twitter] and it will get retweeted from there.
4. Announce it in other channels that reach your local developer community.
{% if include.type == "Event" %}5. Announce it in other channels within the W3C (working groups, interest groups).{% endif %}

[public-testtwf]:  http://lists.w3.org/Archives/Public/public-testtwf
[testtwf-events]: /events
[new-event-page]: /events/kits/resources/site/new-event-page-setup.html
[twitter]: https://twitter.com/testthewebfwd
