<h2 id="artwork">Logos & Designs</h2>
You are free to use the Test the Web Forward logos and assets to promote your event following our usage guidelines.

{% include brand-guidelines.html %}

<h3>Download</h3>
A full library of logos and designs used for t-shirts, stickers for all past events is available for download in multiple formats.
{% include cta.html body="Download the Logos & Designs" url="/events/kits/designs.html" %} 

<h2 id="resources">{{include.type}} Resources</h2>

{% if include.type == "Event" %}

### Event Templates
 
* [Spreadsheet: Timeline][timeline]
* [Spreadsheet: Expert Tracker][expert-tracker]
* [Spreadsheet: Venue Checklist][venue-checklist]
* [Sample: Initial Email to Expert][expert-initial]
* [Sample: Follow Up Email to Expert][expert-followup]

{% endif %}

### W3C Mail lists

* [public-testtwf@w3.org][public-testtwf] - List for announcing events, event updates and news to attendees
* [public-testtwf-planning@w3.org][public-testtwf-planning] - List for event organizers to communicate with each other and with Experts & Speakers 

{% include events/kits/decks.html %}

### Past Event Recaps

* [San Francisco, CA - June 15-16, 2012][sf-recap]
* [Beijing, China - October 20-21, 2012][beijing-recap]
* [Paris, France - October 26-27, 2012][paris-recap]
* [Seattle, Washington - April 12-13, 2013][seattle-recap]
* [Tokyo, Japan - June 7-8, 2013][tokyo-recap]
* [Shanghai, China - August 17-18, 2013][shanghai-recap]
* [Shenzhen, China - November 9, 2013][shenzhen-recap]

### Past Event Videos
  
* [Test the Web Forward - Tokyo, June 7-8, 2013][tokyo-video]
* [Test the Web Forward - Paris, October 26-27, 2012][paris-video]
* [Recording of SFHTML5 Meetup][sfhtml5-video]
* [Test the Web Forward YouTube Page][ttwf-youtube]

[timeline]: ./resources/docs/TestTWFEventTimeline.xlsx
[expert-tracker]: ./resources/docs/expert_tracker.xlsx
[venue-checklist]: ./resources/docs/VenueChecklist.xlsx
[expert-initial]: ./resources/docs/initial_email.txt
[expert-followup]: ./resources/docs/followup_email.txt

[public-testtwf-planning]:  http://lists.w3.org/Archives/Public/public-testtwf-planning
[public-testtwf]:  http://lists.w3.org/Archives/Public/public-testtwf

[sf-recap]: http://testthewebforward.org/blog/2012/06/20/sanfrancisco-event-recap.html
[beijing-recap]: /blog/2012/10/25/beijing-event-recap.html
[paris-recap]: /blog/2012/11/09/paris-event-recap.html
[seattle-recap]: /blog/2013/04/26/seattle-event-recap.html
[tokyo-recap]: /blog/2013/06/26/tokyo-event-recap.html
[shanghai-recap]: /blog/2013/08/26/shanghai-event-recap.html
[shenzhen-recap]: /blog/2013/11/20/shenzhen-event-recap.html

[tokyo-video]: http://bit.ly/142VHcm
[paris-video]: http://bit.ly/142IcJA
[sfhtml5-video]: http://www.youtube.com/watch?feature=player_embedded&v=Z9oDBM8tFzc#!
[ttwf-youtube]: http://bit.ly/14bEN66
[logos]: /events/kits/logos.html

