---
layout: default
section: blog
title: Blog
---

{% if paginator.page != 1 %}
  {% include paginator.html %}
  <hr>
{% endif %}

<ul class="list-unstyled">
  {% for page in paginator.posts %}
    <li>
      
      {% if page.author and page.author.name %}
        {% assign author = page.author.name %}
      {% else %}
        {% assign author = page.author %}
      {% endif %}
      
      <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
      {% if page.layout == "newsletter" %}
        <p>
          Posted on <a href="{{ page.url }}">{{ page.date | date: "%B %d, %Y" }}</a>
          {% include newsletter-post.html url=page.x-post %}
        </p>
      {% else %}
        <p>
          Posted on <a href="{{ page.url }}">{{ page.date | date: "%B %d, %Y" }}</a> by {{ author }}.
          {% include x-post.html url=page.x-post %}
        </p>
      {% endif %}
      
      {{ page.content }}
      <hr>
    </li>
  {% endfor %}
</ul>

{% include paginator.html %}
