---
layout: events
city: Paris, France
registration_link: http://testtwfparis.eventbrite.com/
date: October 26<sup>th</sup> &ndash; 27<sup>th</sup>, 2012
sponsors: [Adobe, Facebook, Google, Internet Explorer, PhoneGap, Telecom ParisTech, W3C, Zenika]
speakers: [Robin Berjon, fantasai, Rebecca Hauck, James Graham]
experts: [Daniel Glazman, Mike West, Ido Green, Henrik Kjellander, Patrik Höglund, Rik Cabanier, Dirk Schulze, Alan Stearns, Jeremie Patonnier, Tobie Langel, John Jansen, Arron Eicholz, François Remy, Jet Villegas, Sylvain Galineau, L. David Baron, Michael Brooks, David Rousset, Emil A.Eklund, Levi Weintraub, Simon Pieters, Kris Krueger, Steve Zilles, Glenn Adams, Julien Chaffraix, Odin Hørthe Omdal, Peter Linss]
---

    <h2 id="about">&#192; Propos | About</h2>
       <p>Test the Web Forward est un &#233;v&#233;nement qui vous permettra de mieux comprendre les sp&#233;cifications web que vous utilisez tous les jours pour concevoir vos sites. Il vous permettra aussi de d&#233;couvrir comment vous pouvez fa&#231;onner le futur du web.
       <p>
       Au cours de cet &#233;v&#233;nement, vous apprendrez comment lire des sp&#233;cifications web et comment tester le niveau de support de ces sp&#233;cifications par les diff&#233;rents navigateurs. Vous apprendrez aussi, et surtout, &#224; coder des tests robustes avec les auteurs de diff&#233;rents standards du web, pour vous assurer que tous les navigateurs mettent en oeuvre correctement ces fonctionnalit&#233;s. Au final, vous b&#233;n&#233;ficierez d'une meilleure compr&#233;hension du fonctionnement interne d'un navigateur web et maîtriserez l'&#233;criture de tests clairs et robustes.
       </p>
       <p>
       Nous nous attendons &#224; ce que vous sachiez coder manuellement en HTML, CSS et JavaScript, mais il y aura aussi des experts d'Adobe, Facebook, Google, Microsoft, Mozilla, Op&#233;ra et du W3C pour vous accompagner et vous guider &#224; chaque &#233;tape de cr&#233;ation de tests. Nous serons tous pr&#233;sents pour faire progresser le web. Nourriture, boissons et musique seront fournis pour passer un moment unique avec les experts du web.
       </p>
  <hr class="section"/>
  <p>
      Test the Web Forward brings you closer to the very specifications that you use to craft web experiences and has you discover how you can shape the future of the web.
      </p>
      <p>
      Over the course of the event, not only will you learn to understand how to read specifications and understand the state of support among different browsers, but you will also create robust tests along with the editors of various standards to ensure browsers implement these features consistently. At the end of it, you will gain a deeper understanding of browser internals &amp; how you can write clear, robust tests.
      </p>
      <p>
      We do expect you to be capable of hand-coding in HTML, CSS, &amp; JavaScript, but there will be experts from Adobe, Facebook, Google, Microsoft, Mozilla, Opera, the W3C, as well as independent developers to guide you step-by-step to create tests that can help move the web forward. Food, drinks &amp; music will be provided.   
</p>
 
  <div class="block-schedule">
     <h2 id="schedule">Schedule</h2>    
     <h3>Friday's Sessions</h3>
     <ul>
        <li><b>5:00pm - 5:30pm</b> <i>Check-in</i></li>
        <li><b>5:30pm - 5:50pm</b> <i>Welcome &amp; Introduction<br> Vincent Hardy, Adobe</i></li>
        <li><b>5:50pm - 6:10pm</b> <i>How to Read a Spec<br>Robin Berjon, W3C</i></li> 
        <li><b>6:10pm - 6:30pm</b> <i>How to Create a W3C Reftest<br>Rebecca Hauck, Adobe</i></li>      
        <li><b>6:30pm - 6:50pm</b> <i>Overview of testharness.js<br>James Graham, Opera</i></li>
        <li><b>6:50pm - 7:10pm</b> <i>File the Best Bug<br>fantasai, Mozilla</i></li>
        <li><b>7:15pm - 8:00pm</b> Lightning Talks / Meet the Experts</li>
        <li><b>8:00pm</b>Dinner is served</li>
        <li><b>8:00pm - 9:30pm</b>Mingle / Plan for Saturday Hacking</li>
       
     </ul>
     <h3>Saturday's Sessions</h3>
     <ul>
       <li><b>9:30am - 10:00am</b> Breakfast</li>
       <li><b>10:00am-12:00pm</b> Hack</li>
       <li><b>12:00pm</b> Lunch is served</li>
       <li><b>12:00pm - 3:00pm</b> Hack</li>
       <li><b>3:00pm</b> Snacks </li>
       <li><b>3:00pm - 5:30pm</b> Hack</li>
       <li><b>5:30pm – 6:00pm</b> Demos</li>
       <li><b>6:00pm</b> Dinner/Drinks</li>
     </ul>
     </div>
     <p><i>Note: We will be recording the event. If you would like to be excluded from appearing in the video, please contact <a href="mailto:testthewebforward@gmail.com">testthewebforward@gmail.com</a>.</i></p>

     {% include events/speakers.html speakers=page.speakers %}
     <p><i>Note: All of the talks will be in English</i></p>
     {% include events/experts.html experts=page.experts %}

     <h2 id="location">Location</h2>
      <div>
          <div>
              <h3><a href="http://www.telecom-paristech.fr/nc/formation-et-innovation-dans-le-numerique.html">T&#233;l&#233;com Paristech</a></h3>
                Main Campus
                <br>
                46, Rue Barrault
                <br>
                75013 Paris, France
                <h6>
                    <a href="http://maps.google.fr/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=46+Rue+Barrault,+75013+Paris&amp;sll=46.75984,1.738281&amp;sspn=13.324503,26.784668&amp;ie=UTF8&amp;hq=&amp;hnear=46+Rue+Barrault,+75013+Paris,+%C3%8Ele-de-France&amp;t=m&amp;z=14&amp;ll=48.835345,2.350731" style="color:#0000FF;text-align:left">View Larger Map</a>
                    </p>
              </h6>
        </div>
         <div>
              <iframe width="350" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=46+Rue+Barrault,+75013+Paris&amp;sll=46.75984,1.738281&amp;sspn=13.324503,26.784668&amp;ie=UTF8&amp;hq=&amp;hnear=46+Rue+Barrault,+75013+Paris,+%C3%8Ele-de-France&amp;t=m&amp;ll=48.827209,2.347641&amp;spn=0.011301,0.019226&amp;z=14&amp;output=embed&amp;iwloc=near"></iframe>
        </div>
        <div>
            <p>Telecom Paristech is easily accessible by public transportation from any train station or airport:</p>
            <p>
                <h4>M&#233;tro:</h4> 
                <h5>Take the line 6, stop at Corvisart station, and then walk 5 minutes to the main entrance.</h5>
                <h4>RER:</h4> 
                <h5>Take the RER B until Denfert-Rochereau station. Connection in Denfert Rochereau and take the métro line 6 and stop at </h5>
                <h4>Bus:</h4> 
                <h5>Line 62 (Vergniaud), 21 (Daviel) or 67 (Bobillot)</h5>
                <h4>V&#233;lib’:</h4>
                <h5>Stations 13022 (27 & 36, rue de la Butte aux Cailles), 13048 (20, rue Wurtz) or 13024 (81, rue Bobillot)</h5>
            </p>
            <h5>A list of hotels nearby is provided <a href="./paris-hotels.html">here.</a></h5>
        </div>
    </div>
    <h2 id="requirements">Requirements</h2>
    
    <p><b>You must be able to hand code HTML, JavaScript and CSS to participate.</b></p>
    
    <h3>Before you begin</h3>
    
    <p>
      Create a Dropbox account <a href="https://www.dropbox.com/register?signup_tag=shmodel" class="external-link">here</a>. We will be using a public folder here for test submission during the hackathon.
    </p>
    
    <p>Prior to attending, you will want to read and become familiar with at least one of the features so that you have the foundation required to participate.  Here are the features we will focus on learning and testing:</p>
    
    <h3>HTML5:</h3>
    <ul>
      <li><a href="http://www.w3.org/TR/html5/" class="external-link">Main HTML5 Spec</a></li>
      <li><a href="http://www.w3.org/TR/webrtc/" class="external-link">WebRTC</a></li>
      <li><a href="http://www.w3.org/TR/IndexedDB/" class="external-link">IndexedDB</a></li>
      <li>Or the HTML5 spec of your choice!</li>
    </ul>
    <h3>CSS:</h3>
    <ul>
      <li><a href="http://www.w3.org/TR/css3-values/">CSS Values and Units Level 3</a></li>
      <li><a href="http://dev.w3.org/csswg/css3-background/">CSS3 Background &amp; Borders</a></li>
      <li><a href="http://www.w3.org/TR/css3-transforms/">CSS3 Transforms (which now includes SVG Transforms)</a></li>
      <li>Or the CSS spec of your choice!</li>
    </ul>
    <h3>Mobile:</h3>
    <ul>
      <li><a href="http://www.w3.org/TR/touch-events/">Touch Events</a></li>
      <li><a href="http://www.w3.org/TR/widgets/">Widget Packaging and XML Configuration</a></li>
      <li><a href="http://mwbrooks.github.com/incubator-cordova-mobile-spec/">Apache Cordova Mobile Spec Tests</a></li>
      <li>Or the Mobile spec of your choice!</li>
    </ul>
    <p>We are happy to help if there are other features or areas you want to write or modify tests for.</p>
    
    {% include events/sponsors.html %}