<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | Test the Web Forward</title>
  <!--[if lt IE 9]>
    <script src="/vendor/html5shim.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/styles/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="/styles/pygments.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/styles/custom.css" type="text/css" media="screen">
  <link rel="alternate" type="application/rss+xml" href="/feed.rss" title="Test the Web Forward Blog RSS feed">
  
</head>
<body>
  <div class="container">
    <div class="masthead">
      <ul class="nav nav-pills pull-right">
        <li{% if page.section == 'home'   %} class="active" {% endif %}><a href="/">Home</a></li>
        <li{% if page.section == 'blog'   %} class="active" {% endif %}><a href="/blog/">Blog</a></li>
        <li{% if page.section == 'docs'   %} class="active" {% endif %}><a href="/docs/">Docs</a></li>
        <li{% if page.section == 'events' %} class="active" {% endif %}><a href="/events/">Events</a></li>
      </ul>
      <h1>Test the Web Forward <span style="color: #428bca">{{ page.section | capitalize }}</span></h1>
    </div>

    <hr>

    <div class="row">
      {{ content }}
    </div>

    <hr>

    <footer>
      <p>&copy; W3C 2013</p>
    </footer>
  </div>
  
  <script src="/vendor/jquery-1.7.1.js"></script>
  <script src="/scripts/bootstrap.min.js"></script>
  <script>
    var $toc = $(".toc");
    if ($toc.length) {
      $(".col-md-8 h2").each(function() {
        $("<li><a href=\"#" + this.id + "\">" + $(this).html() + "</a></li>").appendTo($toc);
      });
    }
  </script>
</body>
</html>

