<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | Test the Web Forward</title>
  <!--[if lt IE 9]>
    <script src="/vendor/html5shim.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/styles/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="/styles/pygments.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/styles/custom.css" type="text/css" media="screen">
  <link rel="alternate" type="application/rss+xml" href="/feed.rss" title="Test the Web Forward Blog RSS feed">
  
</head>
<body data-spy="scroll" data-target="#toc-container">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Test the Web Forward</a>
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li{% if page.section == 'docs'   %} class="active" {% endif %}><a href="/docs/">Docs</a></li>
          <li{% if page.section == 'events' %} class="active" {% endif %}><a href="/events/">Events</a></li>
          <li{% if page.section == 'blog'   %} class="active" {% endif %}><a href="/blog/">Blog</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Communication channels</a></li>
              <li><a href="#">GitHub Repo</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
  
  
  <div class="container">
      {% if page.outdated %}
        <div class="alert alert-danger">
          <p><span class="glyphicon glyphicon-warning"></span> The content of this page is outdated.</p>
        </div>
      {% endif %}
      
      {% if page.fullwidth %}
        <div role="main">
          {{ content }}
        </div>
      {% else %}
         <div class="row">
            <div role="main" class=col-md-9>
              {{ content }}
            </div>
            <div role="complementary" class=col-md-3>
              {% if page.section == 'events' %}
                {% include sidebars/events.html %}
              {% elsif page.section == 'docs' %}
                {% include sidebars/docs.html %}
              {% endif %}
            </div>
          </div>
      {% endif %}
    <hr>

    <footer>
      <p>Copyright &#xA9; 2013 W3C <sup>&#xAE;</sup> (<a href="http://www.csail.mit.edu/"><acronym title="Massachusetts Institute of Technology">MIT</acronym></a>, <a href="http://www.ercim.eu/"><acronym title="European Research Consortium for Informatics and Mathematics">ERCIM</acronym></a>,
      <a href="http://www.keio.ac.jp/">Keio</a>, <a href="http://ev.buaa.edu.cn/">Beihang</a>). The content of this website is available under a <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution License (CC-BY 3.0)</a>, except where otherwise noted.</p>
    </footer>
  </div>
  {% if page.section == 'docs' %}
    <a class="visible-lg" href="https://github.com/w3c/testtwf-website"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 10000" src="/assets/forkme.png" alt="Fork me on GitHub"></a>
  {% endif %}
  
  <script src="/vendor/jquery-1.7.1.js"></script>
  <script src="/scripts/bootstrap.min.js"></script>
  <script>
  var _scrollspy_refresh = $.fn.scrollspy.Constructor.prototype.refresh;
  
  $.fn.scrollspy.Constructor.prototype.refresh = function() {
    this.selector = this.selector.replace("li > ", "> ");
    return _scrollspy_refresh.call(this);
  }
  $.fn.scrollspy.Constructor.prototype.activate = function (target) {
    this.activeTarget = target

    $(this.selector)
      .removeClass('active')

    var selector = this.selector
      + '[data-target="' + target + '"],'
      + this.selector + '[href="' + target + '"]'
    var active = $(selector).addClass('active')

    active.trigger('activate')
  }
    var $toc = $("#toc");
    if ($toc.length) {
      var $headers = $("*[role=main] h2");
      if ($headers.length) {
        $toc.parents(".panel").show();
        $headers.each(function() {
          var id = this.id || $(this).text().replace(/\W+/g, '-').toLowerCase();
          this.id = id;
          $("<a id=\"" + id + "-link\" class=\"list-group-item\" href=\"#" + id + "\">" + $(this).html() + "</a>").appendTo($toc);
        });
      }
    }
    
  </script>
</body>
</html>

