---
layout: default
section: events
---

<div class="header">

    <h1>Test the Web Forward Event</h1>
    <p>
      <span class="glyphicon glyphicon-calendar"></span>
      {% if page.localized_date != nil and page.date != nil %}
        <span lang="{{ page.lang }}">{{ page.localized_date }}</span> | {{ page.date }}
      {% elsif page.localized_date != nil %}
        <span lang="{{ page.lang }}">{{ page.localized_date }}</span>
      {% elsif page.date != nil %}
        {{ page.date }}
      {% endif %}
    </p>

    <p>
      <span class="glyphicon glyphicon-map-marker"></span>
      {% if page.localized_city != nil and page.city != nil %}
        <a href="#location" lang="{{ page.lang }}">{{ page.localized_city }}</a> | <a href="#location">{{ page.city }}</a>
      {% elsif page.localized_city != nil %}
        <a href="#location" lang="{{ page.lang }}">{{ page.localized_city }}</span>
      {% elsif page.city != nil %}
        <a href="#location">{{ page.city }}</a>
      {% endif %}
    </p>
</div>
{{ content }}
{% include events/sponsors.html %}
