---
layout: default
section: events
---

<div class="header">

    <h1>Test the Web Forward Event</h1>
    <p>
      {% if page.localized_date != nil and page.date != nil %}
        <span lang="{{ page.lang }}">{{ page.localized_date }}</span> | {{ page.date }}
      {% elsif page.localized_date != nil %}
        <span lang="{{ page.lang }}">{{ page.localized_date }}</span>
      {% elsif page.date != nil %}
        {{ page.date }}
      {% endif %}
    </p>

    <p>
      {% if page.localized_venue != nil and page.venue != nil %}
        <a href="#location" lang="{{ page.lang }}">{{ page.localized_venue }}</a> | <a href="#location">{{ page.venue }}</a>
      {% elsif page.localized_venue != nil %}
        <a href="#location" lang="{{ page.lang }}">{{ page.localized_venue }}</span>
      {% elsif page.venue != nil %}
        <a href="#location">{{ page.venue }}</a>
      {% endif %}
    </p>
</div>
{{ content }}
{% include sponsors.html %}
