---
layout: default
section: events
---
{% assign pair = page.url | replace: "/events/", "" | replace: ".html", "" | split: "/" %}
{% assign year = pair | first %}

{% if page.city %}
    {% assign city = page.city | split: "," | first %}
{% else %}
    {% assign city = pair | last | capitalize %}
{% endif %}

<h1>Test the Web Forward <span class="text-primary">{{ city }}</span></h1>
<div class="well">
  <div class="row">
  <div class="col-md-6">
    <p>
      <span class="glyphicon glyphicon-calendar"></span>
      {% if page.localized_date and page.date %}
        <span lang="{{ page.lang }}">{{ page.localized_date }}</span> | {{ page.date }}
      {% elsif page.localized_date %}
        <span lang="{{ page.lang }}">{{ page.localized_date }}</span>
      {% elsif page.date %}
        {{ page.date }}
      {% endif %}
    </p>
    
    <p>
    <span class="glyphicon glyphicon-google_maps"></span>
      {% if page.localized_city and page.city %}
        <a href="#location" lang="{{ page.lang }}">{{ page.localized_city }}</a> | <a href="#location">{{ page.city }}</a>
      {% elsif page.localized_city%}
        <a href="#location" lang="{{ page.lang }}">{{ page.localized_city }}</span>
      {% elsif page.city %}
        <a href="#location">{{ page.city }}</a>
      {% endif %}
    </p>
  </div>
  <div class="col-md-6 text-right">
      {% if page.lang %}
        {% assign lang = page.lang %}
      {% else %}
        {% assign lang = "en" %}
      {% endif %}
      {% if page.registration_link %}
          {% include events/register.html lang=lang url=page.registration_link %}
      {% endif %}
    </div>
</div>
</div>


{{ content }}



