---
layout: default
section: blog
---

<div class="page-header">
  {% case page.type %}
  {% when "post" %}
    {% include blog/headers/post.html %}
  {% when "quickpost" %}
    {% include blog/headers/quickpost.html %}
  {% when "newsletter" %}
    {% include blog/headers/newsletter.html %}
  {% else %}
    <p class="alert alert-danger">This post is missing a type!</p>
  {% endcase %}
</div>

{{ content }}

{% if page.type == "post" %}
  {% include blog/about-the-author.html %}
{% endif %}

{% include blog/pager.html %}

