---
layout: default
section: events
pics:
  - /assets/events/750/tbl.jpg
  - /assets/events/750/hacking.jpg
  - /assets/events/750/TestTWFSeattle_34.jpg
  - /assets/events/750/ttwf-tokyo9.jpg
  - /assets/events/750/TestTWFSeattle_36.jpg
  - /assets/events/750/DSC_1311.jpg
  - /assets/events/750/ttwf-tokyo1.jpg
  - /assets/events/750/TestTWFSeattle_7.jpg
---

<h1>Events</h1>

{% include components/carousel.html pics=page.pics id="events-carousel" %}

<hr class="section">

{% include events/upcoming.html %}

<h2>About</h2>
<p>
  The main goal of the Test the Web Forward movement is to get web developers like you more involved
  in testing the Web Platform to ensure better interoperability on the Web. One of the ways we 
  do this is through a series of hackathons and meetups where we bring the community together,
  educate, and share expertise. Attending a Test the Web Forward event 
  is a great opportunity to discover new web features and learn how to write tests that will 
  help vendors build better, more interoperable implementations. Browser interoperability makes web 
  development more efficient and the lives of web developers easier.
</p>

<p>
  At the events, experts from the W3C, its working groups, and all of the major browser vendors are present
  to teach you, help you write W3C spec tests, and guide you through the process of reporting the interoperability
  issues you discover. You'll learn new web features and recommended practices that will enable you to make 
  significant contributions to the Web Platform and will be useful in projects you contribute to in the future.
</p>

<hr class="section">

<h2 id="host">Host Your Own Event</h2>

<p>
 Test the Web Forward is a grass roots community-driven movement and it belongs to everyone 
 who uses the Web - including you! We're actively looking for passionate Web community leaders to help
 carry it forward and continue its growth. If you're a part of a web-related user group or
 belong to an organization that strives to Make the Web a Better Place, you're a perfect candidate to host 
 an event of your own or partner with others in your area to host one together.
</p>
<p>
 If you're interested in planning a larger hackathon event, a comprehensive Event Kit is available and full of 
 resources and information that can help you every step of the way.  
 {% include cta.html body="Get started with the Event Kit" icon="briefcase" url="/events/kits/event-kit.html" %} 
</p>

<p>
 If your community is just forming or is on the smaller side, you can hold a meetup event to bring
 a smaller group of people together to share information about testing the Web. For this, a Meetup Kit is 
 available to get you started with ideas and logistics.
 {% include cta.html body="Get started with the Meetup Kit" icon="wallet" url="/events/kits/meetup-kit.html" %} 
</p>

<p>
For either type of event, we recommend you kick it off by mailing 
<a href="http://lists.w3.org/Archives/Public/public-testtwf-planning/">public-testtwf-planning@w3.org</a> 
to have your questions answered and see if others in your area would be interested in joining you as a host or sponsor.
</p>

<hr class="section">

<h2 id="attendees">What Attendees Had to Say</h2>
<div class="row">
  <div class="col-md-6">
    <blockquote data-dnt="true" class="twitter-tweet"><p>Very happy I attended <a href="https://twitter.com/search?q=%23TestTWF&amp;src=hash">#TestTWF</a>. Lots of impressive people, interesting explanations useful work done. Coming back humbled.</p>&mdash; Marc Bourlon (@m_a_r_c_b) <a href="https://twitter.com/m_a_r_c_b/statuses/262259224963338240">October 27, 2012</a></blockquote>
    <blockquote data-dnt="true" class="twitter-tweet"><p>Home from Test The Web Forward. Had great day, learned some cool stuff, wrote some CSS Speech Module tests, &amp; won big door prize! <a href="https://twitter.com/search?q=%23testtwf&amp;src=hash">#testtwf</a></p>&mdash; John Foliot (@johnfoliot) <a href="https://twitter.com/johnfoliot/statuses/214228998790713344">June 17, 2012</a></blockquote>
    <blockquote data-dnt="true" class="twitter-tweet"><p>Back home from <a href="https://twitter.com/search?q=%23TestTWF&amp;src=hash">#TestTWF</a>. It was a pleasure to meet you all. Had a great time coding some tests.</p>&mdash; Hans Christian Reinl (@drublic) <a href="https://twitter.com/drublic/statuses/262646068326584320">October 28, 2012</a></blockquote>
    <blockquote data-dnt="true" class="twitter-tweet"><p>Moar <a href="https://twitter.com/search?q=%23testtwf&amp;src=hash">#testtwf</a> please! It was the first time I have in my career witnessed companies, <a href="https://twitter.com/w3c">@w3c</a> and individuals work together. I am so uplifted!</p>&mdash; Molly E. Holzschlag (@mollydotcom) <a href="https://twitter.com/mollydotcom/statuses/214424989934436354">June 17, 2012</a></blockquote>
  </div>
  <div class="col-md-6">
    <blockquote data-dnt="true" class="twitter-tweet"><p>Wrote 6 tests for the CSSOM at <a href="https://twitter.com/testthewebfwd">@testthewebfwd</a>, helped others file tickets against WebKit. Great event to move the web forward! <a href="https://twitter.com/search?q=%23testtwf&amp;src=hash">#testtwf</a></p>&mdash; Paul Irish (@paul_irish) <a href="https://twitter.com/paul_irish/statuses/214153201354686464">June 17, 2012</a></blockquote>
    <blockquote data-dnt="true" class="twitter-tweet"><p>For the same bit of spec, different people thought of different tests. _we need more people to test for a stronger test suite!_ <a href="https://twitter.com/search?q=%23testtwf&amp;src=hash">#testtwf</a></p>&mdash; Rémi Gérard-Marchant (@remitbri) <a href="https://twitter.com/remitbri/statuses/262226445525471232">October 27, 2012</a></blockquote>
    <blockquote data-dnt="true" class="twitter-tweet"><p>I have never attended a hack event I felt I could contribute to before. I could make tests every weekend! <a href="https://twitter.com/search?q=%23testtwf&amp;src=hash">#testtwf</a></p>&mdash; Katherine Mancuso (@musingvirtual) <a href="https://twitter.com/musingvirtual/statuses/214099049933058049">June 16, 2012</a></blockquote>
    <blockquote data-dnt="true" class="twitter-tweet"><p>I didn&#39;t realise writing web specification tests could be this much fun! (Non-geeks - no laughing please) <a href="https://twitter.com/search?q=%23TestTWF&amp;src=hash">#TestTWF</a></p>&mdash; Daniel Davis (@ourmaninjapan) <a href="https://twitter.com/ourmaninjapan/statuses/343267058731077632">June 8, 2013</a></blockquote>
  </div>
</div>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
