@font-face {
  font-family: 'Adelle';
  src: url("/assets/adelle_reg-webfont.eot");
  src: url("/assets/adelle_reg-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/adelle_reg-webfont.woff") format("woff"), url("/assets/adelle_reg-webfont.ttf") format("truetype"), url("/assets/adelle_reg-webfont.svg#AdelleRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Adelle';
  src: url("/assets/adelle_semibold-webfont.eot");
  src: url("/assets/adelle_semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/adelle_semibold-webfont.woff") format("woff"), url("/assets/adelle_semibold-webfont.ttf") format("truetype"), url("/assets/adelle_semibold-webfont.svg#AdelleRegular") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ChunkFive';
  src: url("/assets/chunkfive-webfont.eot");
  src: url("/assets/chunkfive-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/chunkfive-webfont.woff") format("woff"), url("/assets//assets/chunkfive-webfont.ttf") format("truetype"), url("/assets/chunkfive-webfont.svg#ChunkFiveRoman") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #e7ebf1;
  color: #67727E;
  font-family: "Adelle", georgia, serif;
  font-size: 16px;
}


code {
  word-break: break-word;
  word-wrap: break-word;
}

a, a:visited {
  color: #4b73a6;
  text-decoration: none;
  -webkit-transition: color .1s linear;
  -moz-transition: color .1s linear;
  -ms-transition: color .1s linear;
  -o-transition: color .1s linear;
  transition: color .1s linear;
}

h1 {
  font-family: "ChunkFive", georgia, serif;
  font-weight: normal;
}

.caption {
	font-size: 80%;
}